Required libraries

In [2]:
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import pandas as pd

Here we are going to scrap data from OLX.

In [22]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [23]:
driver.get("https://www.olx.in/")   #Getting website

In [4]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [5]:
location.clear() #clearing the location field before entering the content

In [6]:
location.send_keys("Bangalore") #entering city name

In [7]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click() #selecting city  from dropdown

In [8]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [9]:
cars.send_keys("Cars") #entering cars

In [10]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [14]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [15]:
load_more.click()

In [16]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [17]:
len(urls)

180

In [18]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [ ]:
for i in urls[0:100]:
    driver.get(i)
    time.sleep(5)
    
    #collecting price
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
        
    #collecting Brand
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
        
    #collecting model
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    #collecting variant
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
        
    #collecting car year model
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
    #collecting car fuel used        
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
     #collecting car transmission   
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
     
    #collecting kilometers driven by car
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
    
    #collecting no of owners list
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [20]:
len(Price)

66

In [44]:
olx1=pd.DataFrame({})
olx1['Price']=Price
olx1['Brand']=Brand
olx1['Model']=Model
olx1['Kilometers_driven']=Kilometers_driven
olx1['Year']=Year
olx1['Fuel']=Fuel
olx1['Transmission']=Transmission
olx1['Variant']=Variant
olx1['No_owners']=No_owners
olx1['Location']='Bangalore'

In [45]:
olx1.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 2,29,000",Chevrolet,Beat,"69,000 km",2011,Diesel,Manual,2010-2013 Diesel LT Option,3rd,Bangalore
1,"₹ 25,90,000",Toyota,Camry,"22,000 km",2016,Petrol,Automatic,2.5 Hybrid,1st,Bangalore
2,"₹ 1,95,000",Maruti Suzuki,Zen Estilo,"69,000 km",2009,Petrol,Manual,VXI BSIII,3rd,Bangalore
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Bangalore
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Bangalore

In [53]:
driver.close() #it is better to close driver and to open new driver for future purpose.

In [54]:
#Mumbai

In [55]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [56]:
driver.get("https://www.olx.in/")

In [57]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [58]:
location.clear()

In [59]:
location.send_keys("Mumbai") #entering city name

In [60]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [61]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [62]:
cars.send_keys("Cars")

In [63]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [64]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [65]:
load_more.click()

In [66]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [67]:
len(urls)

100

In [68]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [69]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [70]:
olx2=pd.DataFrame({})
olx2['Price']=Price
olx2['Brand']=Brand
olx2['Model']=Model
olx2['Kilometers_driven']=Kilometers_driven
olx2['Year']=Year
olx2['Fuel']=Fuel
olx2['Transmission']=Transmission
olx2['Variant']=Variant
olx2['No_owners']=No_owners
olx2['Location']='Mumbai'

In [73]:
olx2.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 3,25,000",Nissan,Sunny,"119,120 km",2012,Diesel,Manual,Diesel XV,2nd,Mumbai
1,"₹ 4,00,000",Hyundai,Grand i10,"68,113 km",2014,Petrol,Manual,2013-2016 Asta Option,1st,Mumbai
2,"₹ 5,99,000",Toyota,Innova,"77,000 km",2011,Diesel,Manual,2.5 V 7 STR,2nd,Mumbai
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Mumbai
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Mumbai

In [74]:
driver.close()

In [75]:
#chennai

In [76]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [77]:
driver.get("https://www.olx.in/")

In [78]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [79]:
location.clear()

In [80]:
location.send_keys("Chennai") #entering city name

In [81]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [82]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [83]:
cars.send_keys("Cars")

In [84]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [85]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [86]:
load_more.click()

In [87]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [88]:
len(urls)

100

In [89]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [90]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [91]:
olx3=pd.DataFrame({})
olx3['Price']=Price
olx3['Brand']=Brand
olx3['Model']=Model
olx3['Kilometers_driven']=Kilometers_driven
olx3['Year']=Year
olx3['Fuel']=Fuel
olx3['Transmission']=Transmission
olx3['Variant']=Variant
olx3['No_owners']=No_owners
olx3['Location']='Chennai'

In [92]:
olx3.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 6,55,000",Maruti Suzuki,Swift Dzire,"15,750 km",2017,Petrol,Manual,ZXI,Na,Chennai
1,"₹ 4,90,000",Hyundai,Verna,"100,000 km",2013,Diesel,Manual,CRDi 1.6 EX,2nd,Chennai
2,"₹ 9,70,000",Honda,City,"39,000 km",2018,Diesel,Manual,i-DTEC VX,1st,Chennai
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Chennai
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Chennai

In [93]:
driver.close()

In [94]:
#Hyderabad

In [96]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [97]:
driver.get("https://www.olx.in/")

In [98]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [99]:
location.clear()

In [100]:
location.send_keys("Hyderabad") #entering city name

In [101]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [102]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [103]:
cars.send_keys("Cars")

In [104]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [105]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [106]:
load_more.click()

In [107]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [108]:
len(urls)

100

In [109]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [110]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [111]:
olx4=pd.DataFrame({})
olx4['Price']=Price
olx4['Brand']=Brand
olx4['Model']=Model
olx4['Kilometers_driven']=Kilometers_driven
olx4['Year']=Year
olx4['Fuel']=Fuel
olx4['Transmission']=Transmission
olx4['Variant']=Variant
olx4['No_owners']=No_owners
olx4['Location']='Hyderabad'

In [112]:
olx4.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 5,50,000",Volkswagen,Polo,"88,000 km",2014,Diesel,Manual,2009-2013 Diesel Highline 1.2L,1st,Hyderabad
1,"₹ 7,45,200",Hyundai,i20,"68,151 km",2016,Diesel,Manual,Diesel Asta,1st,Hyderabad
2,"₹ 3,75,000",Maruti Suzuki,Wagon R,"52,802 km",2015,Petrol,Manual,VXI,1st,Hyderabad
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Hyderabad
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Hyderabad

In [114]:
driver.close()

In [115]:
#Pune

In [116]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [117]:
driver.get("https://www.olx.in/")

In [118]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [119]:
location.clear()

In [120]:
location.send_keys("Pune") #entering city name

In [121]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [122]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [123]:
cars.send_keys("Cars")

In [124]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [125]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [126]:
load_more.click()

In [127]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [128]:
len(urls)

100

In [129]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [130]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [131]:
olx5=pd.DataFrame({})
olx5['Price']=Price
olx5['Brand']=Brand
olx5['Model']=Model
olx5['Kilometers_driven']=Kilometers_driven
olx5['Year']=Year
olx5['Fuel']=Fuel
olx5['Transmission']=Transmission
olx5['Variant']=Variant
olx5['No_owners']=No_owners
olx5['Location']='Pune'

In [134]:
olx5.head(7)

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 7,50,000",Volkswagen,Vento,"84,000 km",2017,Diesel,Automatic,1.5 TDI Comfortline AT,1st,Pune
1,"₹ 6,50,000",Volkswagen,CrossPolo,"9,000 km",2018,Petrol,Manual,1.2 MPI,1st,Pune
2,"₹ 1,60,000",Honda,City ZX,"82,000 km",2007,Petrol,Manual,GXi,2nd,Pune
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Pune
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Pune
5,"₹ 3,20,000",Maruti Suzuki,Alto K10,"79,000 km",2016,Petrol,Manual,VXI,1st,Pune
6,"₹ 5,40,000",Hyundai,Santro,"15,000 km",2018,CNG & Hybrids,Manual,Asta,2nd,Pune

In [136]:
driver.close()

In [137]:
#Delhi

In [138]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [139]:
driver.get("https://www.olx.in/")

In [140]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [141]:
location.clear()

In [142]:
location.send_keys("Delhi") #entering city name

In [143]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [144]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [145]:
cars.send_keys("Cars")

In [146]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [147]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [148]:
load_more.click()

In [149]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [150]:
len(urls)

100

In [151]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [152]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [153]:
olx6=pd.DataFrame({})
olx6['Price']=Price
olx6['Brand']=Brand
olx6['Model']=Model
olx6['Kilometers_driven']=Kilometers_driven
olx6['Year']=Year
olx6['Fuel']=Fuel
olx6['Transmission']=Transmission
olx6['Variant']=Variant
olx6['No_owners']=No_owners
olx6['Location']='Delhi'

In [154]:
olx6.head(7)

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 4,21,500",Honda,Amaze,60 km,2016,Petrol,Manual,S i-VTEC,1st,Delhi
1,"₹ 3,20,000",Maruti Suzuki,Wagon R,"30,482 km",2014,Petrol,Manual,VXI,Na,Delhi
2,"₹ 3,25,000",Honda,Amaze,"58,000 km",2013,Diesel,Manual,VX i DTEC,1st,Delhi
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Delhi
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Delhi
5,"₹ 1,25,000",Hyundai,Santro Xing,"72,000 km",2008,Petrol,Manual,GL,1st,Delhi
6,"₹ 1,75,000",Ford,Figo,"70,000 km",2014,Diesel,Manual,Duratorq ZXI 1.4,1st,Delhi

In [208]:
driver.close()

In [209]:
#Ahmedabad

In [210]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [211]:
driver.get("https://www.olx.in/")

In [212]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [213]:
location.clear()

In [214]:
location.send_keys("Ahmedabad") #entering city name

In [215]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [216]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [217]:
cars.send_keys("Cars")

In [218]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [220]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [221]:
load_more.click()

In [222]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [223]:
len(urls)

100

In [224]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [225]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [226]:
olx7=pd.DataFrame({})
olx7['Price']=Price
olx7['Brand']=Brand
olx7['Model']=Model
olx7['Kilometers_driven']=Kilometers_driven
olx7['Year']=Year
olx7['Fuel']=Fuel
olx7['Transmission']=Transmission
olx7['Variant']=Variant
olx7['No_owners']=No_owners
olx7['Location']='Ahmedabad'

In [227]:
olx7.head(7)

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 4,64,000",Hyundai,Grand i10,"43,173 km",2016,Petrol,Manual,Sportz 1.2 Kappa VTVT,Na,Ahmedabad
1,"₹ 2,99,000",Volkswagen,Vento,"95,000 km",2013,Diesel,Manual,1.6 Trendline,1st,Ahmedabad
2,"₹ 3,95,000",Renault,Duster,"78,000 km",2013,Diesel,Manual,2012-2015 85PS Diesel RxE,1st,Ahmedabad
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Ahmedabad
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Ahmedabad
5,"₹ 8,75,000",Honda,WR-V,"40,000 km",2019,Petrol,Manual,i-VTEC VX,1st,Ahmedabad
6,"₹ 2,80,000",Nissan,Micra,"60,000 km",2013,Diesel,Manual,2012-2017 Diesel XV Premium,1st,Ahmedabad

In [228]:
driver.close()

In [229]:
#Pondicherry

In [230]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [231]:
driver.get("https://www.olx.in/")

In [232]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [233]:
location.clear()

In [234]:
location.send_keys("Pondicherry") #entering city name

In [235]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [236]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [237]:
cars.send_keys("Cars")

In [238]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [240]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [241]:
load_more.click()

In [242]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [243]:
len(urls)

100

In [244]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [245]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [246]:
olx8=pd.DataFrame({})
olx8['Price']=Price
olx8['Brand']=Brand
olx8['Model']=Model
olx8['Kilometers_driven']=Kilometers_driven
olx8['Year']=Year
olx8['Fuel']=Fuel
olx8['Transmission']=Transmission
olx8['Variant']=Variant
olx8['No_owners']=No_owners
olx8['Location']='Pondicherry'

In [247]:
olx8.head(7)

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 7,45,000",Hyundai,Venue,"17,000 km",2020,Petrol,Manual,Others,1st,Pondicherry
1,"₹ 30,000",Maruti Suzuki,Others,1st,Petrol,Manual,"20,000 km",2000,Na,Pondicherry
2,"₹ 5,25,000",Maruti Suzuki,Swift Dzire,"100,000 km",2015,Diesel,Manual,VDI Optional,2nd,Pondicherry
3,"₹ 3,15,000",Volkswagen,Polo,"92,000 km",2012,Diesel,Manual,2009-2013 IPL II 1.2 Diesel Highline,2nd,Pondicherry
4,"₹ 9,99,900",Volkswagen,Polo,12 km,2021,Petrol,Automatic,GT TSI,1st,Pondicherry
5,"₹ 6,15,000",Honda,City,"120,000 km",2015,Diesel,Manual,V Manual DIESEL,1st,Pondicherry
6,"₹ 98,000",Tata,Nano,"40,000 km",2013,Petrol,Manual,2012-2015 Std BSIV,2nd,Pondicherry

In [267]:
driver.close()

In [269]:
df1=pd.concat([olx1,olx2,olx3,olx4,olx5,olx6,olx7,olx8])

In [270]:
df1.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 2,29,000",Chevrolet,Beat,"69,000 km",2011,Diesel,Manual,2010-2013 Diesel LT Option,3rd,Bangalore
1,"₹ 25,90,000",Toyota,Camry,"22,000 km",2016,Petrol,Automatic,2.5 Hybrid,1st,Bangalore
2,"₹ 1,95,000",Maruti Suzuki,Zen Estilo,"69,000 km",2009,Petrol,Manual,VXI BSIII,3rd,Bangalore
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Bangalore
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Bangalore

In [271]:
df1.shape

(400, 10)

In [273]:
df1.to_csv("First_scrap_data_olx.csv")

In [2]:
#Thiruvananthapuram

In [3]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [4]:
driver.get("https://www.olx.in/")

In [5]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [6]:
location.clear()

In [7]:
location.send_keys("Thiruvananthapuram") #entering city name

In [10]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [11]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [12]:
cars.send_keys("Cars")

In [13]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [15]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [16]:
load_more.click()

In [17]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [18]:
len(urls)

100

In [19]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [20]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [21]:
olx9=pd.DataFrame({})
olx9['Price']=Price
olx9['Brand']=Brand
olx9['Model']=Model
olx9['Kilometers_driven']=Kilometers_driven
olx9['Year']=Year
olx9['Fuel']=Fuel
olx9['Transmission']=Transmission
olx9['Variant']=Variant
olx9['No_owners']=No_owners
olx9['Location']='Thiruvananthapuram'

In [22]:
olx9.head(7)

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 3,35,000",Maruti Suzuki,Alto 800,"16,852 km",2017,Petrol,Manual,VXI,1st,Thiruvananthapuram
1,"₹ 70,000",Maruti Suzuki,Zen,"124,000 km",2002,Petrol,Manual,VXI,3rd,Thiruvananthapuram
2,"₹ 4,00,000",Tata,Tiago,"48,900 km",2018,Petrol,Manual,XE,1st,Thiruvananthapuram
3,"₹ 1,15,00,000",Houses & Villas,4,2250,Semi-Furnished,Ready to Move,Builder,4,2150,Thiruvananthapuram
4,"₹ 80,00,000",Houses & Villas,3,2200,Semi-Furnished,Ready to Move,Builder,3,2000,Thiruvananthapuram
5,"₹ 5,00,000",Hyundai,Grand I 10,"60,000 km",2017,Diesel,Manual,Others,1st,Thiruvananthapuram
6,"₹ 16,30,000",Volvo,V40,"41,500 km",2015,Diesel,Automatic,D3 R Design,1st,Thiruvananthapuram

In [23]:
driver.close()

In [24]:
#Noida

In [25]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [26]:
driver.get("https://www.olx.in/")

In [27]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [28]:
location.clear()

In [29]:
location.send_keys("Noida") #entering city name

In [30]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [31]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [32]:
cars.send_keys("Cars")

In [33]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [34]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [35]:
load_more.click()

In [36]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [37]:
len(urls)

100

In [38]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [39]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [40]:
olx10=pd.DataFrame({})
olx10['Price']=Price
olx10['Brand']=Brand
olx10['Model']=Model
olx10['Kilometers_driven']=Kilometers_driven
olx10['Year']=Year
olx10['Fuel']=Fuel
olx10['Transmission']=Transmission
olx10['Variant']=Variant
olx10['No_owners']=No_owners
olx10['Location']='Noida'

In [41]:
olx10.head(7)

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 3,29,600",Maruti Suzuki,Alto K10,"21,949 km",2018,Petrol,Manual,VXI,1st,Noida
1,"₹ 5,99,000",Maruti Suzuki,Vitara Brezza,Na,Diesel,Manual,"90,344 km",2016,Na,Noida
2,"₹ 4,48,000",Maruti Suzuki,Celerio X,Na,Petrol,Automatic,"18,740 km",2017,Na,Noida
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Noida
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Noida
5,"₹ 34,00,000",BMW,X1,1st,Diesel,Automatic,"27,000 km",2019,Na,Noida
6,"₹ 35,50,000",Mercedes-Benz,Others,"18,000 km",2018,Petrol,Automatic,Others,1st,Noida

In [42]:
driver.close()

In [43]:
#Chandigarh

In [44]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [45]:
driver.get("https://www.olx.in/")

In [46]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [47]:
location.clear()

In [48]:
location.send_keys("Chandigarh") #entering city name

In [49]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [50]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [51]:
cars.send_keys("Cars")

In [52]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [53]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [54]:
load_more.click()

In [55]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [56]:
len(urls)

100

In [57]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [58]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [59]:
olx11=pd.DataFrame({})
olx11['Price']=Price
olx11['Brand']=Brand
olx11['Model']=Model
olx11['Kilometers_driven']=Kilometers_driven
olx11['Year']=Year
olx11['Fuel']=Fuel
olx11['Transmission']=Transmission
olx11['Variant']=Variant
olx11['No_owners']=No_owners
olx11['Location']='Chandigarh'

In [60]:
olx11.head(7)

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 12,00,000",Mercedes-Benz,E-Class,"68,000 km",2009,Petrol,Automatic,E350 Petrol,1st,Chandigarh
1,"₹ 6,80,000",Hyundai,Elite i20,"67,000 km",2017,Diesel,Manual,Sportz 1.4,1st,Chandigarh
2,"₹ 14,50,000",Audi,A6,"70,000 km",2012,Diesel,Automatic,2.0 TDI Premium Plus,Na,Chandigarh
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Chandigarh
4,"₹ 6,50,000",Mahindra,XUV500,"85,000 km",2012,Diesel,Manual,W8 2WD,1st,Chandigarh
5,"₹ 5,40,000",Hyundai,Elite i20,"26,500 km",2014,Petrol,Manual,Magna 1.2,1st,Chandigarh
6,"₹ 6,25,000",Maruti Suzuki,Baleno,"30,000 km",2017,Petrol,Manual,1.3 Delta,1st,Chandigarh

In [61]:
driver.close()

In [62]:
#Shimla

In [63]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [64]:
driver.get("https://www.olx.in/")

In [65]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [66]:
location.clear()

In [67]:
location.send_keys("Shimla") #entering city name

In [68]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [69]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [70]:
cars.send_keys("Cars")

In [71]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [72]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [73]:
load_more.click()

In [74]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [75]:
len(urls)

100

In [76]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [77]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [78]:
olx12=pd.DataFrame({})
olx12['Price']=Price
olx12['Brand']=Brand
olx12['Model']=Model
olx12['Kilometers_driven']=Kilometers_driven
olx12['Year']=Year
olx12['Fuel']=Fuel
olx12['Transmission']=Transmission
olx12['Variant']=Variant
olx12['No_owners']=No_owners
olx12['Location']='Shimla'

In [79]:
olx12.head(7)

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 3,75,000",Maruti Suzuki,Swift,"97,000 km",2015,Diesel,Manual,VDI,2nd,Shimla
1,"₹ 1,45,000",Maruti Suzuki,800,"80,000 km",2010,Petrol,Manual,AC,1st,Shimla
2,"₹ 54,00,000",Apartments,2,850,Semi-Furnished,Ready to Move,Builder,2,700,Shimla
3,"₹ 54,00,000",Apartments,2,850,Semi-Furnished,Ready to Move,Builder,2,700,Shimla
4,"₹ 54,00,000",Apartments,2,850,Semi-Furnished,Ready to Move,Builder,2,700,Shimla
5,"₹ 5,20,000",Others,2021,Na,Na,Na,Na,0 km,Na,Shimla
6,"₹ 7,92,000",Others,2006,Na,Na,Na,Na,"46,688 km",Na,Shimla

In [80]:
driver.close()

In [81]:
#Kolkata

In [82]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [95]:
driver.get("https://www.olx.in/")

In [96]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [97]:
location.clear()

In [98]:
location.send_keys("Kolkata") #entering city name

In [99]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [100]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [101]:
cars.send_keys("Cars")

In [102]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [103]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [104]:
load_more.click()

In [105]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [106]:
len(urls)

100

In [107]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [108]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [109]:
olx13=pd.DataFrame({})
olx13['Price']=Price
olx13['Brand']=Brand
olx13['Model']=Model
olx13['Kilometers_driven']=Kilometers_driven
olx13['Year']=Year
olx13['Fuel']=Fuel
olx13['Transmission']=Transmission
olx13['Variant']=Variant
olx13['No_owners']=No_owners
olx13['Location']='Kolkata'

In [110]:
olx13.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 6,50,000",Volkswagen,Vento,"65,000 km",2016,Diesel,Automatic,1.5 TDI Highline Plus AT,1st,Kolkata
1,"₹ 2,89,991",Volkswagen,Polo,"38,000 km",2013,Petrol,Manual,1.2 MPI Comfortline,1st,Kolkata
2,"₹ 9,50,000",Hyundai,Elantra,"18,000 km",2017,Petrol,Manual,2.0 SX,1st,Kolkata
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Kolkata
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Kolkata

In [111]:
driver.close()

In [112]:
#Lucknow

In [113]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [114]:
driver.get("https://www.olx.in/")

In [115]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [116]:
location.clear()

In [117]:
location.send_keys("Lucknow") #entering city name

In [118]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [119]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [120]:
cars.send_keys("Cars")

In [121]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [122]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [123]:
load_more.click()

In [124]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [125]:
len(urls)

100

In [126]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [127]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [128]:
olx14=pd.DataFrame({})
olx14['Price']=Price
olx14['Brand']=Brand
olx14['Model']=Model
olx14['Kilometers_driven']=Kilometers_driven
olx14['Year']=Year
olx14['Fuel']=Fuel
olx14['Transmission']=Transmission
olx14['Variant']=Variant
olx14['No_owners']=No_owners
olx14['Location']='Lucknow'

In [129]:
olx14.head(7)

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 19,00,000",MG,Hector,"4,100 km",2021,Petrol,Manual,Hybrid Sharp MT,1st,Lucknow
1,"₹ 1,65,000",Maruti Suzuki,Zen Estilo,"40,000 km",2010,Petrol,Manual,LXI BSIII,1st,Lucknow
2,"₹ 10,00,000",Hyundai,Others,0 km,2020,Diesel,Automatic,Others,Na,Lucknow
3,"₹ 2,90,000",Nissan,Micra,"72,000 km",2013,Diesel,Manual,XV D,2nd,Lucknow
4,"₹ 2,95,000",Hyundai,Grand i10,"74,080 km",2013,Diesel,Manual,2013-2016 CRDi Sportz,2nd,Lucknow
5,"₹ 2,26,000",Mahindra,Xylo,"84,080 km",2010,Diesel,Manual,2009-2011 D2 BS IV,3rd,Lucknow
6,"₹ 2,400",Other Spare Parts,Na,Na,Na,Na,Na,Na,Na,Lucknow

In [130]:
driver.close()

In [131]:
#Ranchi

In [132]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [133]:
driver.get("https://www.olx.in/")

In [134]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [135]:
location.clear()

In [136]:
location.send_keys("Ranchi")

In [137]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [138]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [139]:
cars.send_keys("Cars")

In [140]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [141]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [142]:
load_more.click()

In [143]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [144]:
len(urls)

100

In [145]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [146]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [147]:
olx15=pd.DataFrame({})
olx15['Price']=Price
olx15['Brand']=Brand
olx15['Model']=Model
olx15['Kilometers_driven']=Kilometers_driven
olx15['Year']=Year
olx15['Fuel']=Fuel
olx15['Transmission']=Transmission
olx15['Variant']=Variant
olx15['No_owners']=No_owners
olx15['Location']='Ranchi'

In [148]:
olx15.head(7)

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 4,01,000",Honda,Accord,"40,000 km",2008,Petrol,Manual,2.4 Elegance Manual,1st,Ranchi
1,"₹ 3,31,000",Honda,City,"84,000 km",2009,Petrol,Manual,2008-2011 1.5 S MT,2nd,Ranchi
2,"₹ 65,000",Maruti Suzuki,Zen,"45,850 km",1997,Petrol,Manual,VX,2nd,Ranchi
3,"₹ 16,00,000",Toyota,Fortuner,"120,000 km",2011,Diesel,Manual,Others,1st,Ranchi
4,"₹ 9,71,000",Mahindra,XUV500,"50,000 km",2016,Diesel,Manual,W10 2WD,1st,Ranchi
5,"₹ 1,51,000",Mahindra,Jeep,"50,000 km",1993,Diesel,Manual,CJ 500 DI,2nd,Ranchi
6,,Na,Na,Na,Na,Na,Na,Na,Na,Ranchi

In [149]:
driver.close()

In [150]:
#Indore

In [151]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [152]:
driver.get("https://www.olx.in/")

In [153]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [154]:
location.clear()

In [155]:
location.send_keys("Indore")

In [156]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [157]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [158]:
cars.send_keys("Cars")

In [159]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [160]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [161]:
load_more.click()

In [162]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [163]:
len(urls)

100

In [164]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [165]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [166]:
olx16=pd.DataFrame({})
olx16['Price']=Price
olx16['Brand']=Brand
olx16['Model']=Model
olx16['Kilometers_driven']=Kilometers_driven
olx16['Year']=Year
olx16['Fuel']=Fuel
olx16['Transmission']=Transmission
olx16['Variant']=Variant
olx16['No_owners']=No_owners
olx16['Location']='Indore'

In [167]:
olx16.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 7,25,000",Maruti Suzuki,Vitara Brezza,"65,000 km",2017,Diesel,Manual,LDi Option,1st,Indore
1,"₹ 7,75,000",Maruti Suzuki,Ciaz,"59,983 km",2016,Diesel,Manual,2014-2017 ZDi Plus,1st,Indore
2,"₹ 15,95,000",Mahindra,XUV500,"42,172 km",2018,Diesel,Manual,W9,1st,Indore
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Indore
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Indore

In [168]:
driver.close()

In [169]:
#Panaji

In [170]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [171]:
driver.get("https://www.olx.in/")

In [172]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [173]:
location.clear()

In [174]:
location.send_keys("Panaji")

In [175]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [176]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [177]:
cars.send_keys("Cars")

In [178]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [179]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [180]:
load_more.click()

In [181]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [182]:
len(urls)

100

In [183]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [184]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [185]:
olx17=pd.DataFrame({})
olx17['Price']=Price
olx17['Brand']=Brand
olx17['Model']=Model
olx17['Kilometers_driven']=Kilometers_driven
olx17['Year']=Year
olx17['Fuel']=Fuel
olx17['Transmission']=Transmission
olx17['Variant']=Variant
olx17['No_owners']=No_owners
olx17['Location']='Panaji'

In [186]:
olx17.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 7,70,000",Maruti Suzuki,Vitara Brezza,"36,000 km",2017,Diesel,Manual,ZDi,1st,Panaji
1,"₹ 3,60,000",Honda,Civic,"77,000 km",2011,Petrol,Manual,1.8 V MT Elegance,2nd,Panaji
2,"₹ 4,99,999",Renault,Lodgy,"35,000 km",2016,Diesel,Manual,85PS RxZ,1st,Panaji
3,"₹ 2,70,000",Maruti Suzuki,Alto K10,"24,000 km",2014,Petrol,Manual,2010-2014 2010-2014 VXI,1st,Panaji
4,"₹ 2,75,000",Maruti Suzuki,Alto K10,"50,000 km",2016.0,Petrol,Manual,LXI,1st,Panaji

In [187]:
driver.close()

In [188]:
#Jaipur

In [189]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [190]:
driver.get("https://www.olx.in/")

In [191]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [192]:
location.clear()

In [193]:
location.send_keys("Jaipur")

In [194]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [195]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [196]:
cars.send_keys("Cars")

In [197]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [198]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [199]:
load_more.click()

In [200]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [201]:
len(urls)

100

In [202]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [203]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [204]:
olx18=pd.DataFrame({})
olx18['Price']=Price
olx18['Brand']=Brand
olx18['Model']=Model
olx18['Kilometers_driven']=Kilometers_driven
olx18['Year']=Year
olx18['Fuel']=Fuel
olx18['Transmission']=Transmission
olx18['Variant']=Variant
olx18['No_owners']=No_owners
olx18['Location']='Jaipur'

In [205]:
olx18.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 4,35,000",Volkswagen,Polo,"80,000 km",2014,Diesel,Manual,2009-2013 Diesel Comfortline 1.2L,1st,Jaipur
1,"₹ 6,40,000",Mahindra,XUV500,"85,000 km",2013,Diesel,Manual,2011-2015 W8 2WD,2nd,Jaipur
2,"₹ 22,00,000",Ford,Endeavour,"77,300 km",2016,Diesel,Automatic,3.2 Titanium AT 4X4,2nd,Jaipur
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Jaipur
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Jaipur

In [206]:
driver.close()

In [207]:
#Patna

In [208]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [209]:
driver.get("https://www.olx.in/")

In [210]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [211]:
location.clear()

In [212]:
location.send_keys("Patna")

In [213]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [214]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [215]:
cars.send_keys("Cars")

In [216]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [217]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [218]:
load_more.click()

In [219]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [220]:
len(urls)

100

In [221]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [222]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [223]:
olx19=pd.DataFrame({})
olx19['Price']=Price
olx19['Brand']=Brand
olx19['Model']=Model
olx19['Kilometers_driven']=Kilometers_driven
olx19['Year']=Year
olx19['Fuel']=Fuel
olx19['Transmission']=Transmission
olx19['Variant']=Variant
olx19['No_owners']=No_owners
olx19['Location']='Patna'

In [224]:
olx19.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 12,50,000",Kia,Others,"2,800 km",2021,Petrol,Automatic,Others,1st,Patna
1,"₹ 5,90,000",Tata,Tigor,"22,800 km",2020,Petrol,Manual,XZ Plus,1st,Patna
2,"₹ 2,85,000",Tata,Indigo Ecs,"84,600 km",2016,Diesel,Automatic,Others,1st,Patna
3,"₹ 5,20,000",Hyundai,Santro,"7,000 km",2020,Petrol,Manual,Asta,1st,Patna
4,"₹ 1,50,000",Chevrolet,Aveo U-VA,"45,000 km",2010,Petrol,Manual,1.2 LS,1st,Patna

In [225]:
driver.close()

In [226]:
#Visakhapatnam

In [227]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [228]:
driver.get("https://www.olx.in/")

In [229]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [230]:
location.clear()

In [231]:
location.send_keys("Visakhapatnam")

In [232]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [233]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [234]:
cars.send_keys("Cars")

In [235]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [236]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [237]:
load_more.click()

In [238]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [239]:
len(urls)

100

In [240]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [241]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [242]:
olx20=pd.DataFrame({})
olx20['Price']=Price
olx20['Brand']=Brand
olx20['Model']=Model
olx20['Kilometers_driven']=Kilometers_driven
olx20['Year']=Year
olx20['Fuel']=Fuel
olx20['Transmission']=Transmission
olx20['Variant']=Variant
olx20['No_owners']=No_owners
olx20['Location']='Visakhapatnam'

In [243]:
olx20.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 5,70,000",Honda,Mobilio,"106,000 km",2014,Diesel,Manual,V i-DTEC,2nd,Visakhapatnam
1,"₹ 4,50,000",Honda,City,"79,000 km",2011,Petrol,Manual,2011-2013 V MT,2nd,Visakhapatnam
2,"₹ 2,60,000",Hyundai,i10,"52,300 km",2010,Petrol,Manual,1.2 Kappa Magna,2nd,Visakhapatnam
3,"₹ 4,05,000",Volkswagen,Polo,"105,000 km",2014,Diesel,Manual,1.5 TDI Comfortline,2nd,Visakhapatnam
4,"₹ 2,00,000",Nissan,Micra,"101,600 km",2012,Diesel,Manual,2010-2012 XV Primo,1st,Visakhapatnam

In [244]:
driver.close()

In [245]:
#Gangtok

In [246]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [247]:
driver.get("https://www.olx.in/")

In [248]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [249]:
location.clear()

In [250]:
location.send_keys("Gangtok")

In [251]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [252]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [253]:
cars.send_keys("Cars")

In [254]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [255]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [256]:
load_more.click()

In [257]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [258]:
len(urls)

100

In [259]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [260]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [261]:
olx21=pd.DataFrame({})
olx21['Price']=Price
olx21['Brand']=Brand
olx21['Model']=Model
olx21['Kilometers_driven']=Kilometers_driven
olx21['Year']=Year
olx21['Fuel']=Fuel
olx21['Transmission']=Transmission
olx21['Variant']=Variant
olx21['No_owners']=No_owners
olx21['Location']='Gangtok'

In [262]:
olx21.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 5,60,000",Renault,Duster,"85,000 km",2012,Diesel,Manual,2012-2015 110PS Diesel-RxZ,1st,Gangtok
1,"₹ 8,70,000",Mahindra,TUV 300,"80,000 km",2016,Diesel,Manual,mHAWK100 T8,1st,Gangtok
2,"₹ 1,01,000",Maruti Suzuki,Alto,"80,000 km",2008,Petrol,Automatic,2005-2010 Std BSII,2nd,Gangtok
3,"₹ 91,000",Maruti Suzuki,Alto,"99,999 km",2009,Petrol,Automatic,2005-2010 LXi BSIII,2nd,Gangtok
4,"₹ 7,45,000",Others,2007,Na,Na,Na,Na,"45,600 km",Na,Gangtok

In [263]:
driver.close()

In [264]:
#Dehradun

In [265]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [266]:
driver.get("https://www.olx.in/")

In [267]:
location=driver.find_element_by_xpath("//input[@class='_2xvhw']") #finding option to enter the city name

In [268]:
location.clear()

In [269]:
location.send_keys("Dehradun")

In [270]:
driver.find_element_by_xpath("//div[@class='_2HzJo']/div[1]").click()

In [271]:
cars=driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input") 
#finding option to enter cars in search option

In [272]:
cars.send_keys("Cars")

In [273]:
driver.find_element_by_xpath("//div[@class='_3b3oR']").click() #click search option

In [274]:
load_more=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']") 
#selecting load more option to load for more cars

In [275]:
load_more.click()

In [276]:
urls=[] #collecting urls for each car
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
while True:
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a"):
        urls.append(j.get_attribute('href'))
    try:
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg'][2]").click()
        time.sleep(5)
    except:
        break

In [277]:
len(urls)

100

In [278]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [279]:
for i in urls[0:50]:
    driver.get(i)
    time.sleep(5)
    try:
        first=driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
        Price.append(first.text)
    except NoSuchElementException:
        Price.append("Na")
    try:
        second=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div/span[2]")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [280]:
olx22=pd.DataFrame({})
olx22['Price']=Price
olx22['Brand']=Brand
olx22['Model']=Model
olx22['Kilometers_driven']=Kilometers_driven
olx22['Year']=Year
olx22['Fuel']=Fuel
olx22['Transmission']=Transmission
olx22['Variant']=Variant
olx22['No_owners']=No_owners
olx22['Location']='Dehradun'

In [281]:
olx22.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹ 5,25,000",Mahindra,Scorpio,"52,000 km",2014,Diesel,Manual,2009-2014 VLX 2WD ABS AT BSIII,1st,Dehradun
1,"₹ 2,50,000",Mahindra,Quanto,"65,000 km",2013,Diesel,Manual,C8,1st,Dehradun
2,"₹ 2,50,000",Maruti Suzuki,Alto K10,"56,000 km",2012,Petrol,Manual,VXI,1st,Dehradun
3,"₹ 35,000",Jaguar,XF,0 km,2012,Diesel,Automatic,3.0 Litre S Premium Luxury,2nd,Dehradun
4,"₹ 95,000",Hyundai,Santro Xing,"88,000 km",2006,Petrol,Manual,XG,3rd,Dehradun

In [282]:
driver.close()

In [283]:
df2=pd.concat([olx9,olx10,olx11,olx12,olx13,olx14,olx15,olx16,olx17,olx18,olx19,olx20,olx21,olx22])

In [284]:
df2.shape

(700, 10)

In [285]:
df2.to_csv('Second_scrapped_olx_data.csv')

Quicker

In [97]:
#Chennai

In [55]:
driver.close()

In [56]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [57]:
driver.get("https://www.quikr.com/")

In [65]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")

In [66]:
locatio.click()

In [67]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")

In [68]:
city.send_keys("Chennai")

In [69]:
driver.find_element_by_id("hSuggCityList").click()

In [70]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")

In [71]:
cars.click()

In [72]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")

In [73]:
search.click()

In [74]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [75]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:100]:
    urls.append(i.get_attribute('href'))
time.sleep(4)

In [76]:
len(urls)

100

In [77]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [78]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:100]:
    Price.append(i.text)

In [79]:
len(Price)

100

In [80]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[5]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [81]:
len(No_owners)

100

In [82]:
quikr1=pd.DataFrame({})
quikr1['Price']=Price
quikr1['Brand']=Brand
quikr1['Model']=Model
quikr1['Kilometers_driven']=Kilometers_driven
quikr1['Year']=Year
quikr1['Fuel']=Fuel
quikr1['Transmission']=Transmission
quikr1['Variant']=Variant
quikr1['No_owners']=No_owners
quikr1['Location']='Chennai'

In [95]:
quikr1.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹88,00,000",Mercedes Benz,350d 4MATIC,"22,910 KMS","22,910",DIESEL,Na,White,Na,Chennai
1,"₹64,00,000",Volvo,Inscription,"17,600 KMS","17,600",DIESEL,Na,Grey,Na,Chennai
2,"₹6,90,000",Hyundai,Creta,"70,000 KMS",2016,DIESEL,Three,1.6 SX O,THREE OWNER,Chennai
3,"₹5,75,000",Hyundai,Grand I10,"15,000 KMS",2019,PETROL,One,Sportz 1.2 Kappa VTVT,ONE OWNER,Chennai
4,"₹38,50,000",Toyota,2.8 4x4 AT,"49,950 KMS","49,950",DIESEL,Na,White,Na,Chennai

In [123]:
driver.close()

In [124]:
#Bangalore

In [125]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [126]:
driver.get("https://www.quikr.com/")

In [127]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")

In [128]:
locatio.click()

In [129]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")

In [130]:
city.send_keys("Bangalore")

In [131]:
driver.find_element_by_id("hSuggCityList").click()

In [132]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")

In [133]:
cars.click()

In [134]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [135]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [136]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:100]:
    urls.append(i.get_attribute('href'))
time.sleep(4)

In [137]:
len(urls)

100

In [138]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [139]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:100]:
    Price.append(i.text)

In [140]:
len(Price)

100

In [141]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [142]:
quikr2=pd.DataFrame({})
quikr2['Price']=Price
quikr2['Brand']=Brand
quikr2['Model']=Model
quikr2['Kilometers_driven']=Kilometers_driven
quikr2['Year']=Year
quikr2['Fuel']=Fuel
quikr2['Transmission']=Transmission
quikr2['Variant']=Variant
quikr2['No_owners']=No_owners
quikr2['Location']='Bangalore'

In [143]:
quikr2.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹2,40,000",Maruti Suzuki,LXi BS III,"36,000 KMS",2010,PETROL,Na,Beige,Na,Bangalore
1,"₹2,10,000",Maruti Suzuki,VXi AMT,"47,000 KMS",2011,PETROL,Na,Golden,Na,Bangalore
2,"₹40,00,000",Audi,35 TDI Premium,"12,000 KMS",2019,DIESEL,Na,Na,Na,Bangalore
3,"₹3,00,000",Chevrolet,SS D1 BSII,"1,40,000 KMS",2005,DIESEL,Na,Manual,Na,Bangalore
4,"₹3,85,000",Honda,1.8 V AT Inspire,"76,559 KMS",2008,PETROL,Na,Na,Na,Bangalore

In [187]:
driver.close()

In [188]:
#Dehradun

In [189]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [190]:
driver.get("https://www.quikr.com/")

In [192]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")

In [193]:
locatio.click()

In [194]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")

In [195]:
city.send_keys("Dehradun")

In [196]:
driver.find_element_by_id("hSuggCityList").click()

In [197]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [198]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [199]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [200]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:100]:
    urls.append(i.get_attribute('href'))
time.sleep(4)

In [201]:
len(urls)

71

In [202]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [203]:
for i in driver.find_elements_by_xpath("//div[@class='price']"):
    Price.append(i.text) 
len(Price)

71

In [204]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [205]:
quikr3=pd.DataFrame({})
quikr3['Price']=Price
quikr3['Brand']=Brand
quikr3['Model']=Model
quikr3['Kilometers_driven']=Kilometers_driven
quikr3['Year']=Year
quikr3['Fuel']=Fuel
quikr3['Transmission']=Transmission
quikr3['Variant']=Variant
quikr3['No_owners']=No_owners
quikr3['Location']='Dehradun'

In [206]:
quikr3.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹14,27,000",Audi,A6,"60,000 KMS",Used,DIESEL,One,2.0 TDI Premium,ONE OWNER,Dehradun
1,"₹4,25,000",Mahindra,Diesel,222 KMS,2019,DIESEL,Na,Na,Na,Dehradun
2,"₹5,80,000",Skoda,3.6 FSI 4x4,"74,000 KMS",2010,PETROL,Na,White,Na,Dehradun
3,"₹2,10,000",Maruti Suzuki,VXI BSIII,"31,300 KMS",2007,PETROL,Manual,Red,Na,Dehradun
4,"₹1,50,000",Chevrolet,Beat,"1,18,312 KMS",Used,PETROL,Na,White,ONE OWNER,Dehradun

In [257]:
driver.close()

In [258]:
#Hyderabad

In [259]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [260]:
driver.get("https://www.quikr.com/")

In [261]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [262]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Hyderabad")

In [263]:
driver.find_element_by_id("hSuggCityList").click()

In [264]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [265]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [266]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [267]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:100]:
    urls.append(i.get_attribute('href'))
time.sleep(4)

In [268]:
len(urls)

100

In [269]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [270]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:100]:
    Price.append(i.text) 
len(Price)

100

In [271]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [272]:
quikr4=pd.DataFrame({})
quikr4['Price']=Price
quikr4['Brand']=Brand
quikr4['Model']=Model
quikr4['Kilometers_driven']=Kilometers_driven
quikr4['Year']=Year
quikr4['Fuel']=Fuel
quikr4['Transmission']=Transmission
quikr4['Variant']=Variant
quikr4['No_owners']=No_owners
quikr4['Location']='Hyderabad'

In [277]:
quikr4.tail()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
95,"₹1,70,000",Hyundai,Santro Xing,"54,000 KMS",Used,PETROL,Two,XO ERLX Euro III,TWO OWNER,Hyderabad
96,"₹3,80,000",Tata,Aria,"1,62,000 KMS",Used,DIESEL,Oct 10 2021,Pure LX 4x2,TWO OWNER,Hyderabad
97,"₹2,99,000",Datsun,RediGo,"15,400 KMS",Used,PETROL,Jul 01 2022,T O,ONE OWNER,Hyderabad
98,"₹5,50,000",Ford,Na,"70,000 KMS",2014,DIESEL,Na,Na,Na,Hyderabad
99,"₹15,75,000",Hyundai,Elantra,"17,000 KMS",Used,PETROL,One,2.0 SX O AT,ONE OWNER,Hyderabad

In [278]:
df_quikr=pd.concat([quikr1,quikr2,quikr3,quikr4])

In [279]:
df_quikr.to_csv("Scrapped_data_quickr_first.csv")

In [2]:
#Delhi

In [3]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [4]:
driver.get("https://www.quikr.com/")

In [6]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [7]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Delhi")

In [8]:
driver.find_element_by_id("hSuggCityList").click()

In [9]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [10]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [11]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [12]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:100]:
    urls.append(i.get_attribute('href'))
time.sleep(4)

In [13]:
len(urls)

100

In [14]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [15]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:100]:
    Price.append(i.text) 
len(Price)

100

In [16]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [17]:
quikr5=pd.DataFrame({})
quikr5['Price']=Price
quikr5['Brand']=Brand
quikr5['Model']=Model
quikr5['Kilometers_driven']=Kilometers_driven
quikr5['Year']=Year
quikr5['Fuel']=Fuel
quikr5['Transmission']=Transmission
quikr5['Variant']=Variant
quikr5['No_owners']=No_owners
quikr5['Location']='Delhi'

In [18]:
quikr5.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹7,51,000",Audi,2.0 TDI 177bhp Premium,"1,20,000 KMS",2011,DIESEL,Na,Black,Na,Delhi
1,"₹7,50,000",Audi,2.0 TDI 177bhp Premium Plus,"1,20,000 KMS",2011,DIESEL,Na,Black,Na,Delhi
2,"₹2,90,000",Maruti Suzuki,VDi,"72,000 KMS",2012,DIESEL,Na,Aug 11 2021,Na,Delhi
3,"₹7,75,000",Maruti Suzuki,Delta AT 1.2,"5,500 KMS",2020,PETROL,Na,White,Na,Delhi
4,"₹2,80,000",Maruti Suzuki,Dzire,"90,000 KMS",Used,DIESEL,One,LDI,ONE OWNER,Delhi

In [20]:
driver.close()

In [21]:
#Lucknow

In [22]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [23]:
driver.get("https://www.quikr.com/")

In [24]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [25]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Lucknow")

In [26]:
driver.find_element_by_id("hSuggCityList").click()

In [27]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [28]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [29]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [30]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:100]:
    urls.append(i.get_attribute('href'))
time.sleep(4)

In [31]:
len(urls)

100

In [32]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [33]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:100]:
    Price.append(i.text) 
len(Price)

100

In [35]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [37]:
quikr6=pd.DataFrame({})
quikr6['Price']=Price
quikr6['Brand']=Brand
quikr6['Model']=Model
quikr6['Kilometers_driven']=Kilometers_driven
quikr6['Year']=Year
quikr6['Fuel']=Fuel
quikr6['Transmission']=Transmission
quikr6['Variant']=Variant
quikr6['No_owners']=No_owners
quikr6['Location']='Lucknow'

In [38]:
quikr6.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹5,50,000",Mahindra,T6 Plus,"85,000 KMS",2016,DIESEL,Na,White,Na,Lucknow
1,"₹5,20,000",Maruti Suzuki,Swift Dzire,"46,000 KMS",Used,PETROL,Manual,ZXi,TWO OWNER,Lucknow
2,"₹12,00,000",Tata,XM 4x2 7 STR,"69,000 KMS",2018,DIESEL,Na,Na,Na,Lucknow
3,"₹4,63,000",Mahindra,Diesel,25 KMS,2020,DIESEL,Na,Na,Na,Lucknow
4,"₹14,00,000",Tata,2.2 VX 4x2 Varicor400,"36,000 KMS",2019,DIESEL,Na,Na,Na,Lucknow

In [39]:
driver.close()

In [40]:
#Jaipur

In [41]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [42]:
driver.get("https://www.quikr.com/")

In [43]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [44]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Jaipur")

In [45]:
driver.find_element_by_id("hSuggCityList").click()

In [46]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [47]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [48]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [49]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:100]:
    urls.append(i.get_attribute('href'))
time.sleep(4)

In [50]:
len(urls)

100

In [51]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [52]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:100]:
    Price.append(i.text) 
len(Price)

100

In [54]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [55]:
quikr7=pd.DataFrame({})
quikr7['Price']=Price
quikr7['Brand']=Brand
quikr7['Model']=Model
quikr7['Kilometers_driven']=Kilometers_driven
quikr7['Year']=Year
quikr7['Fuel']=Fuel
quikr7['Transmission']=Transmission
quikr7['Variant']=Variant
quikr7['No_owners']=No_owners
quikr7['Location']='Jaipur'

In [56]:
quikr7.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹1,60,000",Maruti Suzuki,VXi 1.2 BS IV,"55,000 KMS",2008,PETROL,Na,Black,Na,Jaipur
1,"₹1,95,000",Maruti Suzuki,LXI BS IV,"45,000 KMS",2010,PETROL,Manual,Silver,Na,Jaipur
2,"₹2,25,000",Volkswagen,Trendline 1.2L D,"76,000 KMS",2011,DIESEL,Na,Red,Na,Jaipur
3,"₹4,25,000",Hyundai,Sportz O 1.2 Kappa VTVT,"58,000 KMS",2016,PETROL,Na,White,Na,Jaipur
4,"₹6,60,000",Maruti Suzuki,VXi 1.2 ABS BS IV,"11,000 KMS",2020,PETROL,Na,White,Na,Jaipur

In [99]:
driver.close()

In [100]:
#Ahmedabad

In [101]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [102]:
driver.get("https://www.quikr.com/")

In [103]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [104]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Ahmedabad")

In [105]:
driver.find_element_by_id("hSuggCityList").click()

In [106]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [107]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [108]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [109]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:120]:
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

120

In [110]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [111]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:150]:
    Price.append(i.text) 
len(Price)

150

In [112]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [113]:
quikr8=pd.DataFrame({})
quikr8['Price']=Price[0:120]
quikr8['Brand']=Brand
quikr8['Model']=Model
quikr8['Kilometers_driven']=Kilometers_driven
quikr8['Year']=Year
quikr8['Fuel']=Fuel
quikr8['Transmission']=Transmission
quikr8['Variant']=Variant
quikr8['No_owners']=No_owners
quikr8['Location']='Ahmedabad'

In [115]:
quikr8.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹4,75,000",Honda,Mobilio,"75,000 KMS",Used,DIESEL,Manual,V I DTEC,Na,Ahmedabad
1,"₹7,50,000",Hyundai,Verna Fluidic,"65,000 KMS",Used,DIESEL,Na,New,Na,Ahmedabad
2,"₹4,11,000",Mahindra,C8,"85,000 KMS",2015,DIESEL,Na,Manual,Na,Ahmedabad
3,"₹4,11,000",Mahindra,C8,"85,000 KMS",2015,DIESEL,Na,Manual,Na,Ahmedabad
4,"₹3,11,000",Mahindra,C8,"8,50,003 KMS",2013,DIESEL,Na,Manual,Na,Ahmedabad

In [136]:
driver.close()

In [137]:
#Pune

In [138]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [139]:
driver.get("https://www.quikr.com/")

In [140]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [141]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Pune")

In [142]:
driver.find_element_by_id("hSuggCityList").click()

In [143]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [144]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [145]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [146]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:130]:
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

130

In [147]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [148]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:130]:
    Price.append(i.text) 
len(Price)

130

In [149]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [150]:
len(No_owners)

130

In [151]:
quikr9=pd.DataFrame({})
quikr9['Price']=Price
quikr9['Brand']=Brand
quikr9['Model']=Model
quikr9['Kilometers_driven']=Kilometers_driven
quikr9['Year']=Year
quikr9['Fuel']=Fuel
quikr9['Transmission']=Transmission
quikr9['Variant']=Variant
quikr9['No_owners']=No_owners
quikr9['Location']='Pune'

In [152]:
quikr9.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹5,99,999",Skoda,Elegance 2.0 TDI CR AT,"78,000 KMS",2010,DIESEL,Automatic,White,Na,Pune
1,"₹5,99,999",Ford,2.5L 4x2,"82,000 KMS",2012,DIESEL,Na,White,Na,Pune
2,"₹3,69,999",Skoda,Elegance 1.8 TSI AT,"62,000 KMS",2010,PETROL,Automatic,Red,Na,Pune
3,"₹2,79,999",Volkswagen,Highline Petrol,"58,000 KMS",2010,PETROL,Na,White,Na,Pune
4,"₹4,69,999",Volkswagen,Highline Diesel,"65,000 KMS",2013,DIESEL,Na,Blue,Na,Pune

In [208]:
driver.close()

In [209]:
#Mumbai

In [210]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [211]:
driver.get("https://www.quikr.com/")

In [212]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [213]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Mumbai")

In [214]:
driver.find_element_by_id("hSuggCityList").click()

In [215]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [216]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [217]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [218]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:130]:
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

130

In [219]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [220]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:130]:
    Price.append(i.text) 
len(Price)

130

In [221]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [222]:
quikr10=pd.DataFrame({})
quikr10['Price']=Price
quikr10['Brand']=Brand
quikr10['Model']=Model
quikr10['Kilometers_driven']=Kilometers_driven
quikr10['Year']=Year
quikr10['Fuel']=Fuel
quikr10['Transmission']=Transmission
quikr10['Variant']=Variant
quikr10['No_owners']=No_owners
quikr10['Location']='Mumbai'

In [223]:
quikr10.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹25,00,000",Mercedes Benz,350 L,"20,000 KMS",2006,PETROL,Na,Automatic,Na,Mumbai
1,"₹25,00,000",BMW,XDrive20d XLine,"53,000 KMS",2016,DIESEL,Na,Na,Na,Mumbai
2,"₹11,00,000",Volkswagen,Highline Plus Petrol,"14,000 KMS",2019,PETROL,Na,Na,Na,Mumbai
3,"₹40,00,000",Audi,35 TDI Premium,"12,000 KMS",2019,DIESEL,Na,Na,Na,Mumbai
4,"₹62,00,000",Volvo,Inscription,"31,000 KMS",2020,DIESEL,Na,Na,Na,Mumbai

In [224]:
df1_quikr=pd.concat([quikr5,quikr6,quikr7,quikr8,quikr9,quikr10])

In [225]:
df1_quikr.shape

(680, 10)

In [226]:
df1_quikr.to_csv("second_scrapped_data_quickr.cav")

In [2]:
#Chandigarh

In [3]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [4]:
driver.get("https://www.quikr.com/")

In [5]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [6]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Chandigarh")

In [7]:
driver.find_element_by_id("hSuggCityList").click()

In [8]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [9]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [10]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [11]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

85

In [12]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [13]:
for i in driver.find_elements_by_xpath("//div[@class='price']"):
    Price.append(i.text) 
len(Price)

85

In [14]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [15]:
quikr11=pd.DataFrame({})
quikr11['Price']=Price
quikr11['Brand']=Brand
quikr11['Model']=Model
quikr11['Kilometers_driven']=Kilometers_driven
quikr11['Year']=Year
quikr11['Fuel']=Fuel
quikr11['Transmission']=Transmission
quikr11['Variant']=Variant
quikr11['No_owners']=No_owners
quikr11['Location']='Chandigarh'

In [16]:
quikr11.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹2,90,000",Hyundai,Asta,"90,000 KMS",2011,PETROL,Na,Manual,Na,Chandigarh
1,"₹3,00,000",Toyota,2.5 Z Diesel 7 Seater,"25,000 KMS",2007,DIESEL,Na,Manual,Na,Chandigarh
2,"₹1,70,000",Hyundai,Asta,"1,10,000 KMS",2010,PETROL,Na,Manual,Na,Chandigarh
3,"₹8,80,000",Toyota,Innova,"87,000 KMS",Used,DIESEL,May 25 2022,2.5 V 7 STR,ONE OWNER,Chandigarh
4,"₹1,50,000",Honda,GXi,"1,008 KMS",2018,PETROL,Na,Manual,Na,Chandigarh

In [17]:
driver.close()

In [18]:
#Pondicherry

In [19]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [20]:
driver.get("https://www.quikr.com/")

In [21]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [22]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Pondicherry")

In [23]:
driver.find_element_by_id("hSuggCityList").click()

In [24]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [25]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [26]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [27]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

30

In [28]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [29]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:100]:
    Price.append(i.text) 
len(Price)

30

In [30]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [31]:
quikr12=pd.DataFrame({})
quikr12['Price']=Price
quikr12['Brand']=Brand
quikr12['Model']=Model
quikr12['Kilometers_driven']=Kilometers_driven
quikr12['Year']=Year
quikr12['Fuel']=Fuel
quikr12['Transmission']=Transmission
quikr12['Variant']=Variant
quikr12['No_owners']=No_owners
quikr12['Location']='Pondicherry'

In [32]:
quikr12.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹8,95,000",Mahindra,XUV500,"58,300 KMS",Used,DIESEL,Na,W8,Na,Pondicherry
1,"₹1,25,000",Fiat,Linea,"98,000 KMS",Used,DIESEL,Na,Na,Na,Pondicherry
2,"₹16,75,000",MG Motors,Hector,"24,500 KMS",Used,DIESEL,Aug 06 2021,Sharp 2.0 Diesel,ONE OWNER,Pondicherry
3,"₹1,26,000",Hyundai,GLS,"90,000 KMS",2006,PETROL,Na,Aug 19 2021,Na,Pondicherry
4,"₹10,25,000",BMW,3 Series,"82,000 KMS",Used,DIESEL,Apr 13 2022,320d Highline,ONE OWNER,Pondicherry

In [52]:
driver.close()

In [56]:
df_quickr2=pd.concat([quikr12,quikr11])

In [57]:
df_quickr2.to_csv("third_scrapped_quickr.csv")

In [58]:
df_quickr2.shape

(115, 10)

In [19]:
driver.close()

In [20]:
#Visakhapatnam

In [21]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [22]:
driver.get("https://www.quikr.com/")

In [23]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [24]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Vizag")

In [25]:
driver.find_element_by_id("hSuggCityList").click()

In [26]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [27]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [28]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [29]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:120]:
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

120

In [30]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [31]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:120]:
    Price.append(i.text) 
len(Price)

120

In [32]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [33]:
quikr13=pd.DataFrame({})
quikr13['Price']=Price
quikr13['Brand']=Brand
quikr13['Model']=Model
quikr13['Kilometers_driven']=Kilometers_driven
quikr13['Year']=Year
quikr13['Fuel']=Fuel
quikr13['Transmission']=Transmission
quikr13['Variant']=Variant
quikr13['No_owners']=No_owners
quikr13['Location']='Visakhapatnam'

In [34]:
quikr13.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹8,50,000",Honda,VX,"1,29,000 KMS",2016,PETROL,Na,Brown,Na,Visakhapatnam
1,"₹5,50,000",Hyundai,Santro,"5,900 KMS",Used,PETROL,Na,Na,Na,Visakhapatnam
2,"₹2,30,000",Mahindra,SLX 2.6 Turbo 7 Str,"1,50,000 KMS",2007,DIESEL,Na,Black,Na,Visakhapatnam
3,"₹3,50,000",Volkswagen,Highline1.2L P,"82,500 KMS",2011,PETROL,Na,Grey,Na,Visakhapatnam
4,"₹2,80,000",Honda,1.8S MT,"82,891 KMS",2007,PETROL,Na,Na,Na,Visakhapatnam

In [53]:
driver.close()

In [54]:
#Thiruvananthapuram

In [55]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [56]:
driver.get("https://www.quikr.com/")

In [57]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [58]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Trivandrum")

In [59]:
driver.find_element_by_id("hSuggCityList").click()

In [60]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [61]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [62]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [63]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

71

In [64]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [65]:
for i in driver.find_elements_by_xpath("//div[@class='price']"):
    Price.append(i.text) 
len(Price)

71

In [66]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [67]:
quikr14=pd.DataFrame({})
quikr14['Price']=Price
quikr14['Brand']=Brand
quikr14['Model']=Model
quikr14['Kilometers_driven']=Kilometers_driven
quikr14['Year']=Year
quikr14['Fuel']=Fuel
quikr14['Transmission']=Transmission
quikr14['Variant']=Variant
quikr14['No_owners']=No_owners
quikr14['Location']='Thiruvananthapuram'

In [68]:
quikr14.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹10,25,000",Honda,City,"24,000 KMS",Used,PETROL,Feb 05 2022,1.5 V MT,ONE OWNER,Thiruvananthapuram
1,"₹3,50,000",Maruti Suzuki,VXi AMT,"89,000 KMS",2014,PETROL,Na,Na,Na,Thiruvananthapuram
2,"₹2,85,000",Maruti Suzuki,Star LXI,"37,800 KMS",2009,PETROL,Na,Na,Na,Thiruvananthapuram
3,"₹4,10,000",Datsun,T,"9,500 KMS",2020,PETROL,Na,Na,Na,Thiruvananthapuram
4,"₹3,80,000",Datsun,T,"9,500 KMS",2020,PETROL,Na,Na,Na,Thiruvananthapuram

In [112]:
driver.close()

In [113]:
#Kolkata

In [114]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [115]:
driver.get("https://www.quikr.com/")

In [116]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [117]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Kolkata")

In [118]:
driver.find_element_by_id("hSuggCityList").click()

In [119]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [120]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [121]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [122]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:120]:
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

120

In [125]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [126]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:120]:
    Price.append(i.text) 
len(Price)

120

In [127]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [128]:
len(Brand)

120

In [129]:
quikr15=pd.DataFrame({})
quikr15['Price']=Price
quikr15['Brand']=Brand
quikr15['Model']=Model
quikr15['Kilometers_driven']=Kilometers_driven
quikr15['Year']=Year
quikr15['Fuel']=Fuel
quikr15['Transmission']=Transmission
quikr15['Variant']=Variant
quikr15['No_owners']=No_owners
quikr15['Location']='Kolkata'

In [130]:
quikr15.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹4,75,000",Honda,V MT,"20,000 KMS",2016,PETROL,Na,Na,Na,Kolkata
1,"₹10,75,000",Mercedes Benz,B 180 Sport,"20,000 KMS",2013,PETROL,Na,Na,Na,Kolkata
2,"₹3,91,000",Honda,1.8V AT Sunroof,"35,000 KMS",2012,PETROL,Na,Na,Na,Kolkata
3,"₹1,75,000",Honda,1.8V MT,"35,000 KMS",2007,PETROL,Na,Na,Na,Kolkata
4,"₹5,75,000",Honda,1.5 V MT,"50,000 KMS",2015,PETROL,Na,Na,Na,Kolkata

In [132]:
driver.close()

In [133]:
#Shimla

In [134]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [135]:
driver.get("https://www.quikr.com/")

In [136]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [137]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Shimla")

In [138]:
driver.find_element_by_id("hSuggCityList").click()

In [139]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [140]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [141]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [142]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

12

In [143]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [144]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:100]:
    Price.append(i.text) 
len(Price)

12

In [145]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [146]:
quikr16=pd.DataFrame({})
quikr16['Price']=Price
quikr16['Brand']=Brand
quikr16['Model']=Model
quikr16['Kilometers_driven']=Kilometers_driven
quikr16['Year']=Year
quikr16['Fuel']=Fuel
quikr16['Transmission']=Transmission
quikr16['Variant']=Variant
quikr16['No_owners']=No_owners
quikr16['Location']='Shimla'

In [147]:
quikr16.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹3,00,000",Skoda,Ambiente,"90,000 KMS",2011,DIESEL,Na,White,Na,Shimla
1,"₹10,30,000",Hyundai,1.6 VTVT SX O,"20,000 KMS",2018,PETROL,Na,Dec 06 2021,Na,Shimla
2,"₹16,00,000",Toyota,Innova Crysta,"50,000 KMS",Used,DIESEL,Na,Na,Na,Shimla
3,"₹6,80,000",Honda,WR V,"45,000 KMS",Used,PETROL,Na,Na,Na,Shimla
4,"₹1,20,000",Chevrolet,1,"1,30,000 KMS",2009,PETROL,Na,Manual,Na,Shimla

In [148]:
driver.close()

In [149]:
#Noida

In [150]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [151]:
driver.get("https://www.quikr.com/")

In [152]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [153]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Noida")

In [154]:
driver.find_element_by_id("hSuggCityList").click()

In [155]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [156]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [157]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [158]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a")[0:150]:
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

150

In [159]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [160]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:150]:
    Price.append(i.text) 
len(Price)

150

In [161]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [162]:
quikr17=pd.DataFrame({})
quikr17['Price']=Price
quikr17['Brand']=Brand
quikr17['Model']=Model
quikr17['Kilometers_driven']=Kilometers_driven
quikr17['Year']=Year
quikr17['Fuel']=Fuel
quikr17['Transmission']=Transmission
quikr17['Variant']=Variant
quikr17['No_owners']=No_owners
quikr17['Location']='Noida'

In [163]:
quikr17.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹2,45,000",Volkswagen,Trendline 1.2L P,"75,000 KMS",2011,PETROL,Na,Mar 31 2022,Na,Noida
1,"₹7,51,000",Audi,2.0 TDI 177bhp Premium,"1,20,000 KMS",2011,DIESEL,Na,Black,Na,Noida
2,"₹7,50,000",Audi,2.0 TDI 177bhp Premium Plus,"1,20,000 KMS",2011,DIESEL,Na,Black,Na,Noida
3,"₹2,90,000",Maruti Suzuki,VDi,"72,000 KMS",2012,DIESEL,Na,Aug 11 2021,Na,Noida
4,"₹7,75,000",Maruti Suzuki,Delta AT 1.2,"5,500 KMS",2020,PETROL,Na,White,Na,Noida

In [248]:
driver.close()

In [249]:
#Panaji

In [250]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [251]:
driver.get("https://www.quikr.com/")

In [252]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [253]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Goa")

In [254]:
driver.find_element_by_id("hSuggCityList").click()

In [255]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [256]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [257]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [258]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

48

In [259]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [260]:
for i in driver.find_elements_by_xpath("//div[@class='price']"):
    Price.append(i.text) 
len(Price)

48

In [261]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [262]:
quikr18=pd.DataFrame({})
quikr18['Price']=Price
quikr18['Brand']=Brand
quikr18['Model']=Model
quikr18['Kilometers_driven']=Kilometers_driven
quikr18['Year']=Year
quikr18['Fuel']=Fuel
quikr18['Transmission']=Transmission
quikr18['Variant']=Variant
quikr18['No_owners']=No_owners
quikr18['Location']='Panaji'

In [263]:
quikr18.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹28,50,000",Audi,30 TFSI Technology Pack,"65,646 KMS",2018,PETROL,Na,Blue,Na,Panaji
1,"₹4,35,000",Mahindra,Diesel,217 KMS,2020,DIESEL,Na,Na,Na,Panaji
2,"₹2,90,000",Ford,Trend 1.5 TDCi,"1,08,000 KMS",2015,DIESEL,Na,White,Na,Panaji
3,"₹1,50,000",Tata,Twist XT,"30,000 KMS",2015,PETROL,Manual,White,Na,Panaji
4,"₹3,50,000",Volkswagen,Comfortline 1.2L D,"1,28,800 KMS",2011,DIESEL,Na,Na,Na,Panaji

In [210]:
driver.close()

In [211]:
#Indore

In [212]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [213]:
driver.get("https://www.quikr.com/")

In [214]:
locatio=driver.find_element_by_xpath("//i[@class='icon-arrow']")
locatio.click()

In [215]:
city=driver.find_element_by_xpath("//div[@class='drop-layers']/div/div/input")
city.send_keys("Indore")

In [216]:
driver.find_element_by_id("hSuggCityList").click()

In [217]:
cars=driver.find_element_by_xpath("//ul[@id='fixed-category']/li[6]")
cars.click()

In [218]:
search=driver.find_element_by_xpath("//button[@class='mdc-button mdc-ripple-upgraded mdc-ripple-upgraded--unbounded mdc-button--primary mdc-button--unelevated mdc-ripple-upgraded--foreground-deactivation mdc-button__width-full']")
search.click()

In [219]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #this code will scroll the web page till bottom

In [220]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone']/a"):
    urls.append(i.get_attribute('href'))
time.sleep(4)
len(urls)

80

In [221]:
#Scrapping data of each cars:
Price=[]
Brand=[]
Model=[]
Kilometers_driven=[]
Year=[]
Fuel=[]
Transmission=[]
Variant=[]
No_owners=[]

In [222]:
for i in driver.find_elements_by_xpath("//div[@class='price']")[0:100]:
    Price.append(i.text) 
len(Price)

80

In [223]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        driver.find_element_by_xpath("//span[@class='sc-1sbb775-3 eaiAQu ttC cP dF w100 jcC']").click()
    except NoSuchElementException:
        pass

    try:
        second=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[3]/span")
        Brand.append(second.text)
    except NoSuchElementException:
        Brand.append("Na")
        
    try:
        third=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[8]/span")
        Model.append(third.text)
    except NoSuchElementException:
        Model.append("Na")
        
    try:
        fourt=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[9]/span")
        Variant.append(fourt.text)
    except NoSuchElementException:
        Variant.append("Na")
        
    try:
        fifth=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[4]/span")
        Year.append(fifth.text)
    except NoSuchElementException:
        Year.append("Na")
        
            
    try:
        Sixth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[1]")
        Fuel.append(Sixth.text)
    except NoSuchElementException:
        Fuel.append("Na")
        
    try:
        Seventh=driver.find_element_by_xpath("//ul[@class='sc-1sbb775-0 fkgsye dF fwW jcSB']/li[11]/span")
        Transmission.append(Seventh.text)
    except NoSuchElementException:
        Transmission.append("Na")
        
    try:
        Eighth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[2]")
        Kilometers_driven.append(Eighth.text)
    except NoSuchElementException:
        Kilometers_driven.append("Na")
        
    try:
        Ninth=driver.find_element_by_xpath("//ul[@class='rnzqd6-0 kKtfpp jcSB pR']/li[3]")
        No_owners.append(Ninth.text)
    except NoSuchElementException:
        No_owners.append("Na")

In [224]:
quikr19=pd.DataFrame({})
quikr19['Price']=Price
quikr19['Brand']=Brand
quikr19['Model']=Model
quikr19['Kilometers_driven']=Kilometers_driven
quikr19['Year']=Year
quikr19['Fuel']=Fuel
quikr19['Transmission']=Transmission
quikr19['Variant']=Variant
quikr19['No_owners']=No_owners
quikr19['Location']='Indore'

In [225]:
quikr19.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,"₹4,69,500",Mahindra,Diesel,29 KMS,2020,DIESEL,Na,Na,Na,Indore
1,"₹4,67,000",Mahindra,Diesel,28 KMS,2020,DIESEL,Na,Na,Na,Indore
2,"₹6,29,999",Mahindra,TUV300,"52,888 KMS",Used,DIESEL,Na,Na,Na,Indore
3,"₹7,70,000",Renault,Triber,"2,600 KMS",Used,PETROL,Apr 25 2023,RXT,ONE OWNER,Indore
4,"₹1,70,000",Hyundai,GLS,"56,785 KMS",2008,PETROL,Na,White,Na,Indore

In [264]:
df2_quikr=pd.concat([quikr13,quikr14,quikr15,quikr16,quikr17,quikr18,quikr19])

In [265]:
df2_quikr.to_csv("fourth_scrapped_quickr.cav")

# Let's concatenate the whole scrapped data into one signle data frame and save it as a CSV file for future use.

In [1]:
import pandas as pd
df1=pd.read_csv("First_scrap_data_olx.csv")
df2=pd.read_csv("Second_scrapped_olx_data.csv")
df3=pd.read_csv("Scrapped_data_quickr_first.csv")
df4=pd.read_csv("second_scrapped_data_quickr.cav")
df5=pd.read_csv("third_scrapped_quickr.csv")
df6=pd.read_csv("fourth_scrapped_quickr.cav")

In [11]:
df=pd.concat([df1,df2])

In [12]:
df.shape

(1100, 11)

In [13]:
df.head()

,Unnamed: 0,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,0,"₹ 2,29,000",Chevrolet,Beat,"69,000 km",2011,Diesel,Manual,2010-2013 Diesel LT Option,3rd,Bangalore
1,1,"₹ 25,90,000",Toyota,Camry,"22,000 km",2016,Petrol,Automatic,2.5 Hybrid,1st,Bangalore
2,2,"₹ 1,95,000",Maruti Suzuki,Zen Estilo,"69,000 km",2009,Petrol,Manual,VXI BSIII,3rd,Bangalore
3,3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Bangalore
4,4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Bangalore

We can see that the column"Unnamed:0" is unnecessary column. we will remove it.

In [14]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [15]:
#Now we will handle Price column
df['Price']=df['Price'].str.replace(',','')
df['Price']=df['Price'].str.replace('₹','')

In [16]:
df.head()

,Price,Brand,Model,Kilometers_driven,Year,Fuel,Transmission,Variant,No_owners,Location
0,229000,Chevrolet,Beat,"69,000 km",2011,Diesel,Manual,2010-2013 Diesel LT Option,3rd,Bangalore
1,2590000,Toyota,Camry,"22,000 km",2016,Petrol,Automatic,2.5 Hybrid,1st,Bangalore
2,195000,Maruti Suzuki,Zen Estilo,"69,000 km",2009,Petrol,Manual,VXI BSIII,3rd,Bangalore
3,Na,Na,Na,Na,Na,Na,Na,Na,Na,Bangalore
4,Na,Na,Na,Na,Na,Na,Na,Na,Na,Bangalore

In [19]:
df.shape

(1100, 10)

In [20]:
#Now we got the correct data save it as csv file for future use.
df.to_csv("olx_data.csv")