Required libraries

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

We are going to scrap the data from cardekho website, in this website we have an option to select owners and location.

# chennai

In [2]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [3]:
driver.get("https://www.cardekho.com/") #getting the website

In [4]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [5]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [6]:
#entering city name
City=driver.find_element_by_id("autocomplete")
City.send_keys("Chennai")

In [7]:
#selecting the city drop down
select=driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]")
select.click()

In [9]:
#extracting data for the cars where owners is "first owner" for Chennai city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [41]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]
Location=[]

In [10]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [12]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 160
Price 160
Transmission 160
Fuel 160
Variant 160
Kilometers_driven 160

In [15]:
#creating data frame for the collected data.
car_deko_4=pd.DataFrame({})
car_deko_4['Price']=Price
car_deko_4['Brand']=car_name
car_deko_4['Kilometers_driven']=Kilometers_driven
car_deko_4['Fuel']=Fuel
car_deko_4['Transmission']=Transmission
car_deko_4['Variant']=Variant
#we know that the data is from First owner cars. 
#So we will add the First owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('chennai'.)
car_deko_4['No_owners']="FirstOwner"
car_deko_4['Location']='Chennai'

In [16]:
car_deko_4.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,6.25 Lakh,2012 Maruti Ertiga,"33,000 kms",Diesel,Manual,VDI,FirstOwner,Chennai
1,16.75 Lakh,2021 Kia Seltos,"2,600 kms",Petrol,Manual,HTX G,FirstOwner,Chennai
2,6 Lakh,2013 Volkswagen Vento,"30,000 kms",Diesel,Manual,1.5 TDI Highline,FirstOwner,Chennai
3,4.25 Lakh,2014 Hyundai Grand i10,"42,000 kms",Petrol,Manual,Magna,FirstOwner,Chennai
4,6.45 Lakh,2016 Nissan Terrano,"29,000 kms",Petrol,Manual,XL,FirstOwner,Chennai

In [18]:
#Lets scrap data for Second owner cars for chennai location

In [19]:
#extracting data for the cars where owners is "second owner" for Chennai city.
#selecting the "second onwer" option.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [20]:
#creating empty list for the scraped data
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [21]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [22]:
#checking length of each scrapped data
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [24]:
#creating data frame for the collected data.
car_deko_4_a=pd.DataFrame({})
car_deko_4_a['Price']=Price
car_deko_4_a['Brand']=car_name
car_deko_4_a['Kilometers_driven']=Kilometers_driven
car_deko_4_a['Fuel']=Fuel
car_deko_4_a['Transmission']=Transmission
car_deko_4_a['Variant']=Variant
#we know that the data is from First owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('chennai'.)
car_deko_4_a['No_owners']="SecondOwner"          
car_deko_4_a['Location']='Chennai'

In [25]:
car_deko_4_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,4.6 Lakh,2012 Toyota Etios Liva,"33,000 kms",Diesel,Manual,GD,SecondOwner,Chennai
1,5.5 Lakh,2013 Honda City,"47,000 kms",Petrol,Automatic,V AT,SecondOwner,Chennai
2,2.4 Lakh,2010 Maruti Zen Estilo,"58,000 kms",Petrol,Manual,VXI BSIII,SecondOwner,Chennai
3,4.65 Lakh,2016 Hyundai Grand i10,"43,000 kms",Petrol,Manual,Asta,SecondOwner,Chennai
4,2.9 Lakh,2008 Honda City,"1,10,000 kms",Petrol,Manual,GXi,SecondOwner,Chennai

In [26]:
##Lets scrap data for "Third owner" cars for chennai location

In [27]:
#extracting data for the cars where owners is "Third owner" for Chennai city.
#selecting the "Third onwer" option.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[4]").click()

In [28]:
#creating empty list for the scraped data
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [29]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [30]:
#checking length of each scrapped data
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 42
Price 42
Transmission 42
Fuel 42
Variant 42
Kilometers_driven 42

In [32]:
#creating data frame for the collected data.
car_deko_4_b=pd.DataFrame({})
car_deko_4_b['Price']=Price
car_deko_4_b['Brand']=car_name
car_deko_4_b['Kilometers_driven']=Kilometers_driven
car_deko_4_b['Fuel']=Fuel
car_deko_4_b['Transmission']=Transmission
car_deko_4_b['Variant']=Variant
#we know that the data is from First owner cars. 
#So we will add the Third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('chennai'.)
car_deko_4_b['No_owners']="Thirdowner"          
car_deko_4_b['Location']='Chennai'

In [33]:
car_deko_4_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,10.85 Lakh,2011 Toyota Fortuner,"1,59,000 kms",Diesel,Manual,3.0 Diesel,Thirdowner,Chennai
1,1.8 Lakh,2008 Hyundai Verna,"82,000 kms",Petrol,Manual,i (Petrol),Thirdowner,Chennai
2,2.25 Lakh,2010 Hyundai Verna,"98,422 kms",Diesel,Manual,Transform VGT CRDi with Audio BS III,Thirdowner,Chennai
3,2.5 Lakh,2006 Mahindra Bolero,"1,40,000 kms",Diesel,Manual,Sports,Thirdowner,Chennai
4,"75,000",2001 Maruti Omni,"80,000 kms",Petrol,Manual,8 Seater BSII,Thirdowner,Chennai

In [34]:
#Concatenate all chennai cars scrapped data
car_dekho_chennai=pd.concat([car_deko_4,car_deko_4_a,car_deko_4_b])

In [35]:
car_dekho_chennai.shape

(402, 8)

In [60]:
driver.close()

# Bangalore

In [61]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [62]:
#Getting website
driver.get("https://www.cardekho.com/")

In [63]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [64]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [67]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Bangalore")

In [68]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [69]:
#extracting data for the cars where owners is "first owner" for bangalore city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [70]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]
Location=[]

In [71]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [72]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [74]:
#creating data frame for the collected data.
car_deko_5=pd.DataFrame({})
car_deko_5['Price']=Price
car_deko_5['Brand']=car_name
car_deko_5['Kilometers_driven']=Kilometers_driven
car_deko_5['Fuel']=Fuel
car_deko_5['Transmission']=Transmission
car_deko_5['Variant']=Variant
#we know hat the data is from First owner cars. 
#So we will add the First owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('chennai'.)
car_deko_5['No_owners']="FirstOwner"
car_deko_5['Location']="Bangalore"

In [75]:
car_deko_5.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,6.68 Lakh,2015 Honda Jazz,"42,361 kms",Diesel,Manual,1.5 VX i DTEC,FirstOwner,Bangalore
1,3.28 Lakh,2016 Maruti Alto 800,"53,908 kms",Petrol,Manual,LXI,FirstOwner,Bangalore
2,4.26 Lakh,2013 Honda Brio,"84,561 kms",Petrol,Automatic,1.2 VX AT,FirstOwner,Bangalore
3,6.22 Lakh,2017 Maruti Ignis,"13,107 kms",Petrol,Automatic,1.2 AMT Delta BSIV,FirstOwner,Bangalore
4,6.32 Lakh,2015 Hyundai i20 Active,"81,242 kms",Diesel,Manual,SX Diesel,FirstOwner,Bangalore

In [76]:
#Let's scrap second owner cars data

In [82]:
#extracting data for the cars where owners is "second owner" for bangalore city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [83]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [84]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [85]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [88]:

#creating data frame for the collected data.
car_deko_5_a=pd.DataFrame({})
car_deko_5_a['Price']=Price
car_deko_5_a['Brand']=car_name
car_deko_5_a['Kilometers_driven']=Kilometers_driven
car_deko_5_a['Fuel']=Fuel
car_deko_5_a['Transmission']=Transmission
car_deko_5_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Bangalore'.)
car_deko_5_a['No_owners']="SecondOwner"
car_deko_5_a['Location']="Bangalore"

In [89]:
car_deko_5_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,7.27 Lakh,2016 Mahindra TUV 300,"45,484 kms",Diesel,Manual,T8,SecondOwner,Bangalore
1,6.16 Lakh,2017 Hyundai i20,"18,756 kms",Petrol,Manual,1.2 Magna Executive,SecondOwner,Bangalore
2,3.29 Lakh,2009 Maruti Swift Dzire,"86,950 kms",Petrol,Manual,VXi,SecondOwner,Bangalore
3,4.47 Lakh,2014 Hyundai Grand i10,"46,687 kms",Petrol,Manual,Sportz,SecondOwner,Bangalore
4,1.96 Lakh,2008 Maruti Alto,"44,812 kms",Petrol,Manual,LXi BSIII,SecondOwner,Bangalore

In [90]:
#Let scrap data for third owner cars

In [91]:
#extracting data for the cars where owners is "third owner" for bangalore city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[4]").click()

In [92]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [93]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [94]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 137
Price 137
Transmission 137
Fuel 137
Variant 137
Kilometers_driven 137

In [95]:
#creating data frame for the collected data.
car_deko_5_b=pd.DataFrame({})
car_deko_5_b['Price']=Price
car_deko_5_b['Brand']=car_name
car_deko_5_b['Kilometers_driven']=Kilometers_driven
car_deko_5_b['Fuel']=Fuel
car_deko_5_b['Transmission']=Transmission
car_deko_5_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('bangalore'.)
car_deko_5_b['No_owners']="Thirdowner"
car_deko_5_b['Location']="Bangalore"

In [96]:
car_deko_5_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,2.62 Lakh,2014 Maruti Alto 800,"34,929 kms",Petrol,Manual,VXI,Thirdowner,Bangalore
1,2.45 Lakh,2011 Maruti Alto,"55,000 kms",Petrol,Manual,LXi,Thirdowner,Bangalore
2,1.65 Lakh,2006 Maruti Baleno,"80,000 kms",Petrol,Manual,Vxi,Thirdowner,Bangalore
3,1.25 Lakh,2006 Tata Indicab,"80,000 kms",Diesel,Manual,DLE,Thirdowner,Bangalore
4,1.49 Lakh,2007 Hyundai Getz,"70,159 kms",Petrol,Manual,GLE,Thirdowner,Bangalore

In [97]:
car_deko_bangalore=pd.concat([car_deko_5,car_deko_5_a,car_deko_5_b])

In [99]:
car_deko_bangalore.shape

(537, 8)

In [100]:
driver.close()

# Delhi

In [101]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [102]:
driver.get("https://www.cardekho.com/") #getting the website

In [103]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [104]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [105]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Delhi")

In [106]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [107]:
#extracting data for the cars where owners is "first owner" for Delhi city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [108]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [109]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [110]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [112]:
#creating data frame for the collected data.
car_deko_6=pd.DataFrame({})
car_deko_6['Price']=Price
car_deko_6['Brand']=car_name
car_deko_6['Kilometers_driven']=Kilometers_driven
car_deko_6['Fuel']=Fuel
car_deko_6['Transmission']=Transmission
car_deko_6['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the first owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('delhi'.)
car_deko_6['No_owners']="FirstOwner"
car_deko_6['Location']="Delhi"

In [113]:
car_deko_6.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,3.44 Lakh,2016 Maruti Celerio,"36,243 kms",Petrol,Manual,VXI,FirstOwner,Delhi
1,9.27 Lakh,2016 Hyundai Creta,"96,195 kms",Diesel,Automatic,1.6 CRDi AT SX Plus,FirstOwner,Delhi
2,1.89 Lakh,2012 Maruti Alto,"28,123 kms",Petrol,Manual,LXi,FirstOwner,Delhi
3,6.05 Lakh,2016 Ford Ecosport,"87,967 kms",Diesel,Manual,1.5 Diesel Titanium,FirstOwner,Delhi
4,4.78 Lakh,2018 Maruti Celerio,"9,277 kms",Petrol,Automatic,ZXI Optional AMT BSIV,FirstOwner,Delhi

In [114]:
#let's scrap second owner cars data

In [115]:
#extracting data for the cars where owners is "second owner" for delhi city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [116]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [117]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [118]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [119]:
#creating data frame for the collected data.
car_deko_6_a=pd.DataFrame({})
car_deko_6_a['Price']=Price
car_deko_6_a['Brand']=car_name
car_deko_6_a['Kilometers_driven']=Kilometers_driven
car_deko_6_a['Fuel']=Fuel
car_deko_6_a['Transmission']=Transmission
car_deko_6_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Delhi'.)
car_deko_6_a['No_owners']="SecondOwner"
car_deko_6_a['Location']="Delhi"

In [120]:
car_deko_6_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,2.29 Lakh,2012 Honda Brio,"2,73,71 kms",Petrol,Manual,S MT,SecondOwner,Delhi
1,7.38 Lakh,2018 Ford Ecosport,"80,505 kms",Diesel,Manual,1.5 Diesel Titanium Plus BSIV,SecondOwner,Delhi
2,4.18 Lakh,2013 Ford EcoSport,"91,401 kms",Diesel,Manual,1.5 DV5 MT Titanium Optional,SecondOwner,Delhi
3,4.32 Lakh,2014 Nissan Terrano,"85,542 kms",Diesel,Manual,XV 110 PS,SecondOwner,Delhi
4,3.28 Lakh,2017 Maruti Alto K10,"18,075 kms",Petrol,Manual,VXI,SecondOwner,Delhi

In [121]:
#Let's scrap data for "third owner" cars

In [122]:
#extracting data for the cars where owners is "third owner" for delhi city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[4]").click()

In [123]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [124]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [125]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 167
Price 167
Transmission 167
Fuel 167
Variant 167
Kilometers_driven 167

In [126]:
#creating data frame for the collected data.
car_deko_6_b=pd.DataFrame({})
car_deko_6_b['Price']=Price
car_deko_6_b['Brand']=car_name
car_deko_6_b['Kilometers_driven']=Kilometers_driven
car_deko_6_b['Fuel']=Fuel
car_deko_6_b['Transmission']=Transmission
car_deko_6_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('bangalore'.)
car_deko_6_b['No_owners']="Thirdowner"
car_deko_6_b['Location']="Delhi"

In [127]:
car_deko_6_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,3.33 Lakh,2010 Toyota Corolla Altis,"89,658 kms",Petrol,Automatic,1.8 VL AT,Thirdowner,Delhi
1,4.36 Lakh,2017 Maruti Swift,"63,614 kms",Petrol,Manual,LXI Option,Thirdowner,Delhi
2,2.1 Lakh,2009 Maruti Swift Dzire,"43,000 kms",Petrol,Manual,VXi,Thirdowner,Delhi
3,1.65 Lakh,2009 Maruti A-Star,"60,000 kms",Petrol,Manual,Lxi,Thirdowner,Delhi
4,"65,000",2007 Maruti Alto,"1,47,000 kms",Petrol,Manual,LX BSIII,Thirdowner,Delhi

In [128]:
#concateinating all Delhi scrapped data
car_deko_delhi=pd.concat([car_deko_6,car_deko_6_a,car_deko_6_b])

In [129]:
car_deko_delhi.shape

(567, 8)

In [130]:
driver.close()

# Hyderabad

In [131]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [132]:
driver.get("https://www.cardekho.com/") #getting the website

In [133]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [134]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [135]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Hyderabad")

In [136]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [138]:
#extracting data for the cars where owners is "first owner" from hydrabad city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[1]").click()

In [139]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [140]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [141]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [142]:
#creating data frame for the collected data.
car_deko_7=pd.DataFrame({})
car_deko_7['Price']=Price
car_deko_7['Brand']=car_name
car_deko_7['Kilometers_driven']=Kilometers_driven
car_deko_7['Fuel']=Fuel
car_deko_7['Transmission']=Transmission
car_deko_7['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('hyderbad'.)
car_deko_7['No_owners']="First owner"
car_deko_7['Location']="Hyderabad"

In [143]:
car_deko_7.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,5.4 Lakh,2018 Maruti Celerio,"14,610 kms",Petrol,Automatic,ZXI Optional AMT BSIV,First owner,Hyderabad
1,4.67 Lakh,2018 Hyundai Santro,"23,849 kms",Petrol,Manual,Sportz BSIV,First owner,Hyderabad
2,4.7 Lakh,2014 Honda Amaze,"1,04,292 kms",Diesel,Manual,VX i-DTEC,First owner,Hyderabad
3,7.03 Lakh,2017 Maruti Ciaz,"15,018 kms",Petrol,Manual,Zeta,First owner,Hyderabad
4,5.88 Lakh,2017 Hyundai Grand i10,"25,760 kms",Petrol,Manual,1.2 Kappa Asta,First owner,Hyderabad

In [144]:
#let's scrap for second owner data

In [145]:

#extracting data for the cars where owners is "second owner" from hydrabad city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [146]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [147]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [148]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 159
Price 159
Transmission 159
Fuel 159
Variant 159
Kilometers_driven 159

In [149]:
#creating data frame for the collected data.
car_deko_7_a=pd.DataFrame({})
car_deko_7_a['Price']=Price
car_deko_7_a['Brand']=car_name
car_deko_7_a['Kilometers_driven']=Kilometers_driven
car_deko_7_a['Fuel']=Fuel
car_deko_7_a['Transmission']=Transmission
car_deko_7_a['Variant']=Variant
#we know that the data is from seccond owner cars. 
#So we will add the secind owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Hyderabad'.)
car_deko_7_a['No_owners']="SecondOwner"
car_deko_7_a['Location']="Hyderabad"

In [150]:
car_deko_7_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,5.66 Lakh,2015 Honda Jazz,"38,339 kms",Petrol,Manual,V,SecondOwner,Hyderabad
1,4.45 Lakh,2015 Volkswagen Polo,"98,265 kms",Diesel,Manual,1.5 TDI Highline,SecondOwner,Hyderabad
2,4.78 Lakh,2015 Hyundai Grand i10,"37,272 kms",Petrol,Manual,Asta Option,SecondOwner,Hyderabad
3,4.84 Lakh,2015 Maruti Swift,"1,08,190 kms",Diesel,Manual,VDI BSIV,SecondOwner,Hyderabad
4,4.03 Lakh,2015 Maruti Celerio,"21,688 kms",Petrol,Automatic,ZXI AT,SecondOwner,Hyderabad

In [151]:
#Let's scrap data for third owner cars

In [152]:
#extracting data for the cars where owners is "third owner" from hydrabad city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [153]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [154]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [155]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 26
Price 26
Transmission 26
Fuel 26
Variant 26
Kilometers_driven 26

In [156]:
#creating data frame for the collected data.
car_deko_7_b=pd.DataFrame({})
car_deko_7_b['Price']=Price
car_deko_7_b['Brand']=car_name
car_deko_7_b['Kilometers_driven']=Kilometers_driven
car_deko_7_b['Fuel']=Fuel
car_deko_7_b['Transmission']=Transmission
car_deko_7_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('hyderabad'.)
car_deko_7_b['No_owners']="Thirdowner"
car_deko_7_b['Location']="Hyderabad"

In [157]:
car_deko_7_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,3.12 Lakh,2009 Honda City,"1,23,678 kms",Petrol,Manual,1.5 S MT,Thirdowner,Hyderabad
1,6.7 Lakh,2017 Hyundai i20,"24,337 kms",Petrol,Manual,1.2 Spotz,Thirdowner,Hyderabad
2,1.7 Lakh,2006 Hyundai Santro Xing,"90,000 kms",Petrol,Manual,XO,Thirdowner,Hyderabad
3,1.2 Lakh,2002 Maruti Zen,"70,000 kms",Petrol,Manual,LXi - BS III,Thirdowner,Hyderabad
4,2.7 Lakh,2008 Maruti Wagon R,"68,000 kms",Petrol,Manual,LX BSIII,Thirdowner,Hyderabad

In [158]:
#concatenate scrapped data of Hyderabad city
car_dekho_Hyderabad=pd.concat([car_deko_7,car_deko_7_a,car_deko_7_b])

In [159]:
car_dekho_Hyderabad.shape

(385, 8)

In [160]:
driver.close()

# Mumbai

In [161]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [162]:
driver.get("https://www.cardekho.com/") #getting the website

In [163]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [164]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [165]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Mumbai")

In [166]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [167]:
#extracting data for the cars where owners is "first owner" from Mumbai city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [168]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [169]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [170]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [171]:
#creating data frame for the collected data.
car_deko_8=pd.DataFrame({})
car_deko_8['Price']=Price
car_deko_8['Brand']=car_name
car_deko_8['Kilometers_driven']=Kilometers_driven
car_deko_8['Fuel']=Fuel
car_deko_8['Transmission']=Transmission
car_deko_8['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the first owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Mumbai')
car_deko_8['No_owners']="FirstOwner"
car_deko_8['Location']="Mumbai"

In [172]:
car_deko_8.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,6.62 Lakh,2016 Maruti Ertiga,"48,376 kms",Petrol,Manual,BSIV ZXI,FirstOwner,Mumbai
1,5.3 Lakh,2012 Mahindra XUV500,"1,08,871 kms",Diesel,Manual,W8 FWD,FirstOwner,Mumbai
2,5.05 Lakh,2015 Hyundai i20,"1,03,266 kms",Diesel,Manual,Asta 1.4 CRDi,FirstOwner,Mumbai
3,14.72 Lakh,2018 Jeep Compass,"27,881 kms",Diesel,Manual,2.0 Sport,FirstOwner,Mumbai
4,3.77 Lakh,2015 Maruti Wagon R,"9,329 kms",Petrol,Manual,VXI BS IV,FirstOwner,Mumbai

In [173]:
#let's scrap second owner car data.

In [174]:
#extracting data for the cars where owners is "second owner" from Mumbai city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [178]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [179]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [180]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [181]:
#creating data frame for the collected data.
car_deko_8_a=pd.DataFrame({})
car_deko_8_a['Price']=Price
car_deko_8_a['Brand']=car_name
car_deko_8_a['Kilometers_driven']=Kilometers_driven
car_deko_8_a['Fuel']=Fuel
car_deko_8_a['Transmission']=Transmission
car_deko_8_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Mumbai'.)
car_deko_8_a['No_owners']="SecondOwner"
car_deko_8_a['Location']="Mumbai"

In [182]:
car_deko_8_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,4.51 Lakh,2012 Hyundai Verna,"85,295 kms",Diesel,Automatic,1.6 CRDI AT SX Option,SecondOwner,Mumbai
1,1.64 Lakh,2010 Hyundai Grand i10,"40,914 kms",Petrol,Manual,Era 1.1,SecondOwner,Mumbai
2,2.4 Lakh,2011 Maruti Wagon R,"70,221 kms",CNG,Manual,LXI CNG,SecondOwner,Mumbai
3,4.71 Lakh,2014 Renault Duster,"42,118 kms",Diesel,Manual,85PS Diesel RxL,SecondOwner,Mumbai
4,1.72 Lakh,2009 Maruti SX4,"33,725 kms",Petrol,Manual,Vxi BSIII,SecondOwner,Mumbai

In [183]:
#let's scrap third owner cars data

In [184]:
#extracting data for the cars where owners is "third owner" from mumbai city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[4]").click()

In [185]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [186]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [187]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 116
Price 116
Transmission 116
Fuel 116
Variant 116
Kilometers_driven 116

In [188]:
#creating data frame for the collected data.
car_deko_8_b=pd.DataFrame({})
car_deko_8_b['Price']=Price
car_deko_8_b['Brand']=car_name
car_deko_8_b['Kilometers_driven']=Kilometers_driven
car_deko_8_b['Fuel']=Fuel
car_deko_8_b['Transmission']=Transmission
car_deko_8_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Mumbai'.)
car_deko_8_b['No_owners']="Thirdowner"
car_deko_8_b['Location']="Mumbai"

In [189]:
#concatenate all Mumbai scrapped data
car_deko_Mumbai=pd.concat([car_deko_8,car_deko_8_a,car_deko_8_b])

In [190]:
car_deko_Mumbai.shape

(516, 8)

# Pune

In [196]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [197]:
driver.get("https://www.cardekho.com/") #getting the website

In [198]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [199]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [200]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Pune")

In [201]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [202]:
#extracting data for the cars where owners is "first owner" from pune city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [203]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [204]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [205]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [206]:
#creating data frame for the collected data.
car_deko_9=pd.DataFrame({})
car_deko_9['Price']=Price
car_deko_9['Brand']=car_name
car_deko_9['Kilometers_driven']=Kilometers_driven
car_deko_9['Fuel']=Fuel
car_deko_9['Transmission']=Transmission
car_deko_9['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the first owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('pune'.)
car_deko_9['No_owners']="FirstOwner"
car_deko_9['Location']="Pune"

In [207]:
car_deko_9.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,3.27 Lakh,2017 Maruti Alto 800,"90,516 kms",Petrol,Manual,VXI,FirstOwner,Pune
1,8.38 Lakh,2017 Maruti Vitara Brezza,"60,688 kms",Diesel,Manual,ZDi,FirstOwner,Pune
2,3.76 Lakh,2016 Tata Tiago,"49,487 kms",Petrol,Manual,XT,FirstOwner,Pune
3,3.62 Lakh,2015 Hyundai Grand i10,"70,182 kms",Petrol,Manual,Asta Option,FirstOwner,Pune
4,2.87 Lakh,2016 Maruti Alto 800,"67,531 kms",Petrol,Manual,VXI,FirstOwner,Pune

In [208]:
#Let's scrap second owner cars data

In [209]:
#extracting data for the cars where owners is "second owner" from hydrabad city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [210]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [211]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [213]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [214]:
#creating data frame for the collected data.
car_deko_9_a=pd.DataFrame({})
car_deko_9_a['Price']=Price
car_deko_9_a['Brand']=car_name
car_deko_9_a['Kilometers_driven']=Kilometers_driven
car_deko_9_a['Fuel']=Fuel
car_deko_9_a['Transmission']=Transmission
car_deko_9_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Pune'.)
car_deko_9_a['No_owners']="SecondOwner"
car_deko_9_a['Location']="Pune"

In [215]:
car_deko_9_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,6.03 Lakh,2019 Honda Amaze,"10,510 kms",Petrol,Manual,S i-VTEC,SecondOwner,Pune
1,4.72 Lakh,2015 Hyundai Grand i10,"62,193 kms",Petrol,Automatic,AT Asta,SecondOwner,Pune
2,5.73 Lakh,2015 Maruti Ertiga,"52,545 kms",Petrol,Manual,VXI,SecondOwner,Pune
3,8.02 Lakh,2018 Maruti Baleno,"24,229 kms",Petrol,Automatic,1.2 CVT Alpha,SecondOwner,Pune
4,4.88 Lakh,2016 Honda Jazz,"27,332 kms",Petrol,Manual,V,SecondOwner,Pune

In [216]:
#let's scrap third owner cars data

In [217]:
#extracting data for the cars where owners is "third owner" from pune city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[4]").click()

In [218]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [219]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [220]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 58
Price 58
Transmission 58
Fuel 58
Variant 58
Kilometers_driven 58

In [221]:
#creating data frame for the collected data.
car_deko_9_b=pd.DataFrame({})
car_deko_9_b['Price']=Price
car_deko_9_b['Brand']=car_name
car_deko_9_b['Kilometers_driven']=Kilometers_driven
car_deko_9_b['Fuel']=Fuel
car_deko_9_b['Transmission']=Transmission
car_deko_9_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('pune'.)
car_deko_9_b['No_owners']="Thirdowner"
car_deko_9_b['Location']="Pune"

In [222]:
car_deko_9_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,3.25 Lakh,2011 Maruti Swift Dzire,"80,000 kms",Petrol,Manual,VXi,Thirdowner,Pune
1,2 Lakh,2011 Fiat Grande Punto,"1,10,000 kms",Diesel,Manual,1.3 Emotion Pack (Diesel),Thirdowner,Pune
2,9 Lakh,2013 Mercedes-Benz A Class,"83,000 kms",Petrol,Automatic,A180 Sport,Thirdowner,Pune
3,17.5 Lakh,2013 Land Rover Freelander 2,"80,000 kms",Diesel,Automatic,SE,Thirdowner,Pune
4,13.5 Lakh,2014 Audi A4,"78,000 kms",Diesel,Automatic,2.0 TDI,Thirdowner,Pune

In [223]:
#Let's concatenate all the Pune cars scrapped data
car_deko_Pune=pd.concat([car_deko_9,car_deko_9_a,car_deko_9_b])

In [224]:
car_deko_Pune.shape

(458, 8)

In [225]:
driver.close()

# Kolkata

In [226]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [227]:
driver.get("https://www.cardekho.com/") #getting the website

In [228]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [229]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [230]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Kolkata")

In [231]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [236]:
#extracting data for the cars where owners is "first owner" from kolkata city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[1]").click()

In [237]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [238]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [239]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [240]:
#creating data frame for the collected data.
car_deko_10=pd.DataFrame({})
car_deko_10['Price']=Price
car_deko_10['Brand']=car_name
car_deko_10['Kilometers_driven']=Kilometers_driven
car_deko_10['Fuel']=Fuel
car_deko_10['Transmission']=Transmission
car_deko_10['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the first owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('kolkata'.)
car_deko_10['No_owners']="Firstowner"
car_deko_10['Location']="Kolkata"

In [241]:
car_deko_10.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,3.4 Lakh,2015 Nissan Sunny,"39,000 kms",Petrol,Manual,XL,Firstowner,Kolkata
1,3.25 Lakh,2012 Hyundai Verna,"42,000 kms",Petrol,Manual,1.6 SX VTVT (O),Firstowner,Kolkata
2,6 Lakh,2016 Maruti SX4 S Cross,"55,000 kms",Diesel,Manual,DDiS 200 Zeta,Firstowner,Kolkata
3,2.25 Lakh,2010 Maruti Ritz,"45,000 kms",Petrol,Manual,VXI,Firstowner,Kolkata
4,2 Lakh,2011 Toyota Etios Liva,"48,200 kms",Diesel,Manual,GD SP,Firstowner,Kolkata

In [242]:
#Let's scrap second owner cars data

In [243]:
#extracting data for the cars where owners is "second owner" from Kolkata city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [244]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [252]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [246]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 96
Price 96
Transmission 96
Fuel 96
Variant 96
Kilometers_driven 96

In [247]:
#creating data frame for the collected data.
car_deko_10_a=pd.DataFrame({})
car_deko_10_a['Price']=Price
car_deko_10_a['Brand']=car_name
car_deko_10_a['Kilometers_driven']=Kilometers_driven
car_deko_10_a['Fuel']=Fuel
car_deko_10_a['Transmission']=Transmission
car_deko_10_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Kolkata'.)
car_deko_10_a['No_owners']="SecondOwner"
car_deko_10_a['Location']="Kolkata"

In [248]:
car_deko_10_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,7.99 Lakh,2015 Toyota Innova,"68,500 kms",Diesel,Manual,2.5 G (Diesel) 7 Seater BS IV,SecondOwner,Kolkata
1,1.5 Lakh,2006 Maruti Swift,"40,808 kms",Petrol,Manual,1.3 VXi,SecondOwner,Kolkata
2,4.5 Lakh,2015 Renault Duster,"52,000 kms",Diesel,Manual,85PS Diesel RxE,SecondOwner,Kolkata
3,2.75 Lakh,2014 Datsun GO,"29,000 kms",Petrol,Manual,T,SecondOwner,Kolkata
4,3.35 Lakh,2012 Maruti Swift,"59,000 kms",Petrol,Manual,ZXI,SecondOwner,Kolkata

In [249]:
#Let's scrap third owner cars data.

In [250]:
#extracting data for the cars where owners is "third owner" from kolkata city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [253]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [254]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [255]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 16
Price 16
Transmission 16
Fuel 16
Variant 16
Kilometers_driven 16

In [256]:
#creating data frame for the collected data.
car_deko_10_b=pd.DataFrame({})
car_deko_10_b['Price']=Price
car_deko_10_b['Brand']=car_name
car_deko_10_b['Kilometers_driven']=Kilometers_driven
car_deko_10_b['Fuel']=Fuel
car_deko_10_b['Transmission']=Transmission
car_deko_10_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Kolkata'.)
car_deko_10_b['No_owners']="Thirdowner"
car_deko_10_b['Location']="Kolkata"

In [257]:
car_deko_10_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,1.65 Lakh,2010 Hyundai Santro Xing,"46,000 kms",Petrol,Manual,GLS,Thirdowner,Kolkata
1,1.8 Lakh,2007 Honda City,"51,050 kms",Petrol,Manual,1.5 GXI,Thirdowner,Kolkata
2,4.2 Lakh,2014 Maruti Swift Dzire,"51,000 kms",Diesel,Manual,ZDI,Thirdowner,Kolkata
3,2.2 Lakh,2011 Hyundai i10,"40,000 kms",Petrol,Manual,Sportz,Thirdowner,Kolkata
4,1.1 Lakh,2008 Hyundai Santro Xing,"40,000 kms",Petrol,Manual,GLS,Thirdowner,Kolkata

In [258]:
#Let's concatenate Kolkata city scrapped data
car_deko_Kolkata=pd.concat([car_deko_10,car_deko_10_a,car_deko_10_b])

In [259]:
car_deko_Kolkata.shape

(312, 8)

Let's concatenate till now scrapped data into a single data frame and save it as csv

In [265]:
df_car_dekho_1=pd.concat([car_deko_Kolkata,car_deko_delhi,car_deko_Pune,car_deko_Mumbai,car_deko_bangalore,car_dekho_chennai,car_dekho_Hyderabad])

In [266]:
df_car_dekho_1.shape

(3177, 8)

In [267]:
df_car_dekho_1.to_csv("car_dekho_scrapped_data_one.csv")

In [2]:
df=pd.read_csv("car_dekho_scrapped_data_one.csv")

In [4]:
df["Location"].value_counts()

Delhi        567
Bangalore    537
Mumbai       516
Pune         458
Chennai      402
Hyderabad    385
Kolkata      312
Name: Location, dtype: int64

# Ahmedabad

In [6]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [7]:
driver.get("https://www.cardekho.com/") #getting the website

In [8]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [9]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [10]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Ahmedabad")

In [11]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [12]:
#extracting data for the cars where owners is "first owner" from Ahmedabad city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[1]").click()

In [13]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [14]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [15]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [16]:
#creating data frame for the collected data.
car_deko_11=pd.DataFrame({})
car_deko_11['Price']=Price
car_deko_11['Brand']=car_name
car_deko_11['Kilometers_driven']=Kilometers_driven
car_deko_11['Fuel']=Fuel
car_deko_11['Transmission']=Transmission
car_deko_11['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the first owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Ahmedabad'.)
car_deko_11['No_owners']="FirstOwner"
car_deko_11['Location']="Ahmedabad"

In [17]:
car_deko_11.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,6.65 Lakh,2019 Maruti Swift Dzire,"9,718 kms",Petrol,Manual,VXI 1.2,FirstOwner,Ahmedabad
1,3.6 Lakh,2016 Maruti Wagon R,"81,674 kms",Petrol,Manual,VXI,FirstOwner,Ahmedabad
2,3.99 Lakh,2011 Honda City,"38,647 kms",Petrol,Manual,1.5 V MT,FirstOwner,Ahmedabad
3,1.77 Lakh,2012 Maruti Alto K10,"89,579 kms",Petrol,Manual,LXI,FirstOwner,Ahmedabad
4,4.22 Lakh,2019 Maruti S-Presso,"24,230 kms",Petrol,Manual,VXI,FirstOwner,Ahmedabad

In [18]:
#Let's scrap second owner data

In [19]:
#extracting data for the cars where owners is "second owner" from Ahemedabad city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [20]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [21]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [22]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 187
Price 187
Transmission 187
Fuel 187
Variant 187
Kilometers_driven 187

In [23]:
#creating data frame for the collected data.
car_deko_11_a=pd.DataFrame({})
car_deko_11_a['Price']=Price
car_deko_11_a['Brand']=car_name
car_deko_11_a['Kilometers_driven']=Kilometers_driven
car_deko_11_a['Fuel']=Fuel
car_deko_11_a['Transmission']=Transmission
car_deko_11_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Ahmedabad'.)
car_deko_11_a['No_owners']="SecondOwner"
car_deko_11_a['Location']="Ahmedabad"

In [24]:
car_deko_11_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,4.8 Lakh,2016 Nissan Terrano,"74,431 kms",Diesel,Manual,XL Plus 85 PS,SecondOwner,Ahmedabad
1,2.8 Lakh,2013 Maruti Wagon R,"85,416 kms",Petrol,Manual,LXI BS IV,SecondOwner,Ahmedabad
2,4.64 Lakh,2016 Maruti Swift,"45,090 kms",Petrol,Manual,VXI Optional,SecondOwner,Ahmedabad
3,2.03 Lakh,2014 Maruti Alto 800,"79,386 kms",Petrol,Manual,LXI,SecondOwner,Ahmedabad
4,6.7 Lakh,2013 Toyota Innova,"94,754 kms",Diesel,Manual,2.5 VX (Diesel) 8 Seater,SecondOwner,Ahmedabad

In [25]:
#Let's scrap data for third owner cars

In [26]:
#extracting data for the cars where owners is "third owner" from Ahmedabad city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [27]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [28]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [29]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 56
Price 56
Transmission 56
Fuel 56
Variant 56
Kilometers_driven 56

In [30]:
#creating data frame for the collected data.
car_deko_11_b=pd.DataFrame({})
car_deko_11_b['Price']=Price
car_deko_11_b['Brand']=car_name
car_deko_11_b['Kilometers_driven']=Kilometers_driven
car_deko_11_b['Fuel']=Fuel
car_deko_11_b['Transmission']=Transmission
car_deko_11_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Ahmedabad'.)
car_deko_11_b['No_owners']="Thirdowner"
car_deko_11_b['Location']="Ahmedabad"

In [31]:
#concatenate the Ahemedabad cars scrapped data
car_dekho_Ahmedabad=pd.concat([car_deko_11,car_deko_11_a,car_deko_11_b])

In [32]:
car_dekho_Ahmedabad.shape

(443, 8)

In [33]:
driver.close()

# Shimla

In [34]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [35]:
driver.get("https://www.cardekho.com/") #getting the website

In [36]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [37]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [38]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Shimla")

In [39]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [40]:
#extracting data for the cars where owners is "first owner" from shimla city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[1]").click()

In [41]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [42]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [43]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 12
Price 12
Transmission 12
Fuel 12
Variant 12
Kilometers_driven 12

In [44]:
#creating data frame for the collected data.
car_deko_12=pd.DataFrame({})
car_deko_12['Price']=Price
car_deko_12['Brand']=car_name
car_deko_12['Kilometers_driven']=Kilometers_driven
car_deko_12['Fuel']=Fuel
car_deko_12['Transmission']=Transmission
car_deko_12['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the first owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Shimla'.)
car_deko_12['No_owners']="FirstOwner"
car_deko_12['Location']="Shimla"

In [45]:
car_deko_12.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,7.5 Lakh,2015 Renault Duster,"35,000 kms",Diesel,Manual,110PS Diesel RXZ Optional with Nav,FirstOwner,Shimla
1,5.9 Lakh,2012 Mahindra Scorpio,"70,000 kms",Diesel,Automatic,VLS AT 2.2 mHAWK,FirstOwner,Shimla
2,14.5 Lakh,2018 Mahindra XUV500,"50,000 kms",Diesel,Manual,W11 Option BSIV,FirstOwner,Shimla
3,1.5 Lakh,2013 Chevrolet Beat,"1,00,000 kms",Diesel,Manual,Diesel,FirstOwner,Shimla
4,2.2 Lakh,2010 Hyundai i10,"1,20,000 kms",Petrol,Manual,Sportz,FirstOwner,Shimla

In [46]:
#Let's scrap second owner cars data

In [47]:
#extracting data for the cars where owners is "second owner" from shimla city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [48]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [49]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [50]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 8
Price 8
Transmission 8
Fuel 8
Variant 8
Kilometers_driven 8

In [51]:
#creating data frame for the collected data.
car_deko_12_a=pd.DataFrame({})
car_deko_12_a['Price']=Price
car_deko_12_a['Brand']=car_name
car_deko_12_a['Kilometers_driven']=Kilometers_driven
car_deko_12_a['Fuel']=Fuel
car_deko_12_a['Transmission']=Transmission
car_deko_12_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Shimla'.)
car_deko_12_a['No_owners']="SecondOwner"
car_deko_12_a['Location']="Shimla"

In [52]:
car_deko_12_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,5.5 Lakh,2016 Toyota Etios,"1,00,000 kms",Diesel,Manual,GD,SecondOwner,Shimla
1,3.5 Lakh,2015 Volkswagen Polo,"75,994 kms",Petrol,Manual,1.2 MPI Comfortline,SecondOwner,Shimla
2,2.5 Lakh,2010 Hyundai i20,"1,20,000 kms",Petrol,Manual,1.2 Magna,SecondOwner,Shimla
3,"90,000",2007 Maruti Wagon R,"80,000 kms",Petrol,Manual,LXI Minor,SecondOwner,Shimla
4,"65,000",2001 Maruti 800,"60,000 kms",Petrol,Manual,DX,SecondOwner,Shimla

In [53]:
#Let's scrap third owner cars data

In [54]:
#extracting data for the cars where owners is "third owner" from shimla city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [55]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [56]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [57]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 2
Price 2
Transmission 2
Fuel 2
Variant 2
Kilometers_driven 2

In [58]:
#creating data frame for the collected data.
car_deko_12_b=pd.DataFrame({})
car_deko_12_b['Price']=Price
car_deko_12_b['Brand']=car_name
car_deko_12_b['Kilometers_driven']=Kilometers_driven
car_deko_12_b['Fuel']=Fuel
car_deko_12_b['Transmission']=Transmission
car_deko_12_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Shimla'.)
car_deko_12_b['No_owners']="Thirdowner"
car_deko_12_b['Location']="Shimla"

In [59]:
car_deko_12_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,1.15 Lakh,2004 Maruti Alto,"80,000 kms",Petrol,Manual,LX,Thirdowner,Shimla
1,"60,000",2002 Maruti 800,"15,000 kms",Petrol,Manual,AC,Thirdowner,Shimla

In [60]:
#let's concatenate scrapped data of Shimla
car_dekho_Shimla=pd.concat([car_deko_12,car_deko_12_a,car_deko_12_b])

In [61]:
car_dekho_Shimla.shape

(22, 8)

In [62]:
driver.close()

# Lucknow

In [63]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [64]:
driver.get("https://www.cardekho.com/") #getting the website

In [65]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [66]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [67]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Lucknow")

In [68]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [69]:
#extracting data for the cars where owners is "first owner" from lucknow city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [70]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [71]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [72]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [73]:
#creating data frame for the collected data.
car_deko_13=pd.DataFrame({})
car_deko_13['Price']=Price
car_deko_13['Brand']=car_name
car_deko_13['Kilometers_driven']=Kilometers_driven
car_deko_13['Fuel']=Fuel
car_deko_13['Transmission']=Transmission
car_deko_13['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the first owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Lucknow'.)
car_deko_13['No_owners']="FirstOwner"
car_deko_13['Location']="Lucknow"

In [74]:
car_deko_13.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,3.87 Lakh,2017 Tata Zest,"32,342 kms",Petrol,Manual,Revotron 1.2T XE,FirstOwner,Lucknow
1,5.24 Lakh,2017 Maruti Ignis,"14,873 kms",Petrol,Manual,1.2 Zeta BSIV,FirstOwner,Lucknow
2,7.55 Lakh,2018 Maruti Ertiga,"35,341 kms",Petrol,Manual,VXI Limited Edition,FirstOwner,Lucknow
3,4.19 Lakh,2016 Hyundai Grand i10,"83,551 kms",Diesel,Manual,CRDi Sportz,FirstOwner,Lucknow
4,4.7 Lakh,2018 Hyundai Santro,"13,751 kms",Petrol,Manual,Sportz,FirstOwner,Lucknow

In [75]:
#Let's scrap second owner cars data

In [76]:
#extracting data for the cars where owners is "second owner" from lucknow city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [77]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [78]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [79]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 54
Price 54
Transmission 54
Fuel 54
Variant 54
Kilometers_driven 54

In [80]:
#creating data frame for the collected data.
car_deko_13_a=pd.DataFrame({})
car_deko_13_a['Price']=Price
car_deko_13_a['Brand']=car_name
car_deko_13_a['Kilometers_driven']=Kilometers_driven
car_deko_13_a['Fuel']=Fuel
car_deko_13_a['Transmission']=Transmission
car_deko_13_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('lucknow'.)
car_deko_13_a['No_owners']="SecondOwner"
car_deko_13_a['Location']="Lucknow"

In [81]:
car_deko_13_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,2.25 Lakh,2010 Maruti Wagon R,"94,789 kms",Petrol,Manual,LXI BS IV,SecondOwner,Lucknow
1,35 Lakh,2013 BMW X6,"68,000 kms",Diesel,Automatic,xDrive 40d,SecondOwner,Lucknow
2,5.5 Lakh,2013 Ford EcoSport,"1,00,000 kms",Diesel,Manual,1.5 DV5 MT Ambiente,SecondOwner,Lucknow
3,2.5 Lakh,2013 Volkswagen Polo,"79,971 kms",Diesel,Manual,Diesel Comfortline 1.2L,SecondOwner,Lucknow
4,3.25 Lakh,2011 Volkswagen Vento,"80,993 kms",Diesel,Manual,Diesel Comfortline,SecondOwner,Lucknow

In [82]:
#Let's scrap third owner cars data

In [83]:
#extracting data for the cars where owners is "third owner" from lucknow city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[4]").click()

In [84]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [85]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [86]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 21
Price 21
Transmission 21
Fuel 21
Variant 21
Kilometers_driven 21

In [87]:
#creating data frame for the collected data.
car_deko_13_b=pd.DataFrame({})
car_deko_13_b['Price']=Price
car_deko_13_b['Brand']=car_name
car_deko_13_b['Kilometers_driven']=Kilometers_driven
car_deko_13_b['Fuel']=Fuel
car_deko_13_b['Transmission']=Transmission
car_deko_13_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('lucknow'.)
car_deko_13_b['No_owners']="Thirdowner"
car_deko_13_b['Location']="Lucknow"

In [88]:
car_deko_13_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,1 Lakh,2006 Maruti Swift,"90,000 kms",Diesel,Manual,Vdi BSIII,Thirdowner,Lucknow
1,2 Lakh,2009 Maruti Ritz,"76,000 kms",Diesel,Manual,VDi,Thirdowner,Lucknow
2,1.75 Lakh,2011 Fiat Grande Punto,"60,000 kms",Diesel,Manual,1.3 Emotion (Diesel),Thirdowner,Lucknow
3,3.5 Lakh,2012 Mahindra Scorpio,"1,20,000 kms",Diesel,Manual,LX BSIV,Thirdowner,Lucknow
4,21.75 Lakh,2017 Mercedes-Benz GLA Class,"79,500 kms",Diesel,Automatic,200 d Sport,Thirdowner,Lucknow

In [90]:
#Let's concatenate lucknow cars scrapped data
car_dekho_Lucknow=pd.concat([car_deko_13,car_deko_13_a,car_deko_13_b])

In [91]:
car_dekho_Lucknow.shape

(275, 8)

In [92]:
driver.close()

# Noida

In [93]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [94]:
driver.get("https://www.cardekho.com/") #getting the website

In [95]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [96]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [97]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Noida")

In [98]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [99]:
#extracting data for the cars where owners is "first owner" from noida city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[1]").click()

In [102]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [103]:

#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [104]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [105]:
#creating data frame for the collected data.
car_deko_14=pd.DataFrame({})
car_deko_14['Price']=Price
car_deko_14['Brand']=car_name
car_deko_14['Kilometers_driven']=Kilometers_driven
car_deko_14['Fuel']=Fuel
car_deko_14['Transmission']=Transmission
car_deko_14['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the first owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Noida'.)
car_deko_14['No_owners']="FirstOwner"
car_deko_14['Location']="Noida"

In [106]:
car_deko_14.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,6.7 Lakh,2018 Honda WR-V,"61,372 kms",Diesel,Manual,i-DTEC S,FirstOwner,Noida
1,5.55 Lakh,2016 Maruti Ciaz,"62,233 kms",Diesel,Manual,VDi Plus SHVS,FirstOwner,Noida
2,4.39 Lakh,2014 Toyota Etios,"57,513 kms",Diesel,Manual,VD,FirstOwner,Noida
3,8.47 Lakh,2019 Maruti Vitara Brezza,"49,697 kms",Diesel,Automatic,ZDi AMT,FirstOwner,Noida
4,6.39 Lakh,2016 Renault Duster,"72,273 kms",Diesel,Automatic,110PS Diesel RxL AMT,FirstOwner,Noida

In [107]:
#Let's scrap second owner cars data

In [108]:
#extracting data for the cars where owners is "second owner" from Noida city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [109]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [110]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [111]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 80
Price 80
Transmission 80
Fuel 80
Variant 80
Kilometers_driven 80

In [112]:
#creating data frame for the collected data.
car_deko_14_a=pd.DataFrame({})
car_deko_14_a['Price']=Price
car_deko_14_a['Brand']=car_name
car_deko_14_a['Kilometers_driven']=Kilometers_driven
car_deko_14_a['Fuel']=Fuel
car_deko_14_a['Transmission']=Transmission
car_deko_14_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Noida'.)
car_deko_14_a['No_owners']="SecondOwner"
car_deko_14_a['Location']="Noida"

In [113]:
car_deko_14_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,4.18 Lakh,2013 Ford EcoSport,"91,401 kms",Diesel,Manual,1.5 DV5 MT Titanium Optional,SecondOwner,Noida
1,4.32 Lakh,2014 Nissan Terrano,"85,542 kms",Diesel,Manual,XV 110 PS,SecondOwner,Noida
2,7.38 Lakh,2018 Ford Ecosport,"80,505 kms",Diesel,Manual,1.5 Diesel Titanium Plus BSIV,SecondOwner,Noida
3,7.55 Lakh,2013 Toyota Corolla Altis,"51,307 kms",Diesel,Manual,D-4D JS,SecondOwner,Noida
4,2.74 Lakh,2012 Volkswagen Vento,"75,505 kms",Diesel,Manual,Diesel Comfortline,SecondOwner,Noida

In [114]:
#Let's scrap third owner cars data

In [115]:
#extracting data for the cars where owners is "third owner" from noida city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [116]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [117]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [118]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 11
Price 11
Transmission 11
Fuel 11
Variant 11
Kilometers_driven 11

In [119]:
#creating data frame for the collected data.
car_deko_14_b=pd.DataFrame({})
car_deko_14_b['Price']=Price
car_deko_14_b['Brand']=car_name
car_deko_14_b['Kilometers_driven']=Kilometers_driven
car_deko_14_b['Fuel']=Fuel
car_deko_14_b['Transmission']=Transmission
car_deko_14_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Noida'.)
car_deko_14_b['No_owners']="ThirdOwner"
car_deko_14_b['Location']="Noida"

In [120]:
car_deko_14_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,3.33 Lakh,2010 Toyota Corolla Altis,"89,658 kms",Petrol,Automatic,1.8 VL AT,ThirdOwner,Noida
1,4.36 Lakh,2017 Maruti Swift,"63,614 kms",Petrol,Manual,LXI Option,ThirdOwner,Noida
2,1.8 Lakh,2010 Toyota Corolla Altis,"77,458 kms",Petrol,Manual,1.8 J,ThirdOwner,Noida
3,15.75 Lakh,2013 Mercedes-Benz E-Class,"63,000 kms",Diesel,Automatic,E250 CDI Avantgarde,ThirdOwner,Noida
4,7.5 Lakh,2008 Mercedes-Benz New C-Class,"1,00,000 kms",Petrol,Automatic,C 200 Kompressor Elegance AT,ThirdOwner,Noida

In [122]:
#Let's concatenate all Noida cars scrapped data
car_dekho_Noida=pd.concat([car_deko_14,car_deko_14_a,car_deko_14_b])

In [123]:
car_dekho_Noida.shape

(291, 8)

In [124]:
driver.close()

# Chandigarh

In [125]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [126]:
driver.get("https://www.cardekho.com/") #getting the website

In [127]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [128]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [129]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Chandigarh")

In [130]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [131]:
#extracting data for the cars where owners is "first owner" from chandigargh city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [132]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [133]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [134]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 97
Price 97
Transmission 97
Fuel 97
Variant 97
Kilometers_driven 97

In [135]:
#creating data frame for the collected data.
car_deko_15=pd.DataFrame({})
car_deko_15['Price']=Price
car_deko_15['Brand']=car_name
car_deko_15['Kilometers_driven']=Kilometers_driven
car_deko_15['Fuel']=Fuel
car_deko_15['Transmission']=Transmission
car_deko_15['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the first owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Chandigarh'.)
car_deko_15['No_owners']="FirstOwner"
car_deko_15['Location']="Chandigarh"

In [136]:
car_deko_15.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,5.52 Lakh,2019 Maruti Swift,"4,561 kms",Petrol,Manual,LXI,FirstOwner,Chandigarh
1,6.18 Lakh,2018 Maruti Ciaz,"64,789 kms",Petrol,Manual,1.4 Delta,FirstOwner,Chandigarh
2,4.57 Lakh,2018 Hyundai Grand i10,"27,309 kms",Petrol,Manual,1.2 Kappa Sportz BSIV,FirstOwner,Chandigarh
3,4.66 Lakh,2018 Hyundai Grand i10,"27,779 kms",Petrol,Manual,1.2 Kappa Magna BSIV,FirstOwner,Chandigarh
4,5.57 Lakh,2017 Maruti Baleno,"79,395 kms",Petrol,Manual,1.2 Zeta,FirstOwner,Chandigarh

In [137]:
#Let's scrap second owner cars data

In [138]:
#extracting data for the cars where owners is "second owner" from chandigarh city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [139]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [140]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [141]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 48
Price 48
Transmission 48
Fuel 48
Variant 48
Kilometers_driven 48

In [142]:
#creating data frame for the collected data.
car_deko_15_a=pd.DataFrame({})
car_deko_15_a['Price']=Price
car_deko_15_a['Brand']=car_name
car_deko_15_a['Kilometers_driven']=Kilometers_driven
car_deko_15_a['Fuel']=Fuel
car_deko_15_a['Transmission']=Transmission
car_deko_15_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Chandigarh'.)
car_deko_15_a['No_owners']="SecondOwner"
car_deko_15_a['Location']="Chandigarh"

In [143]:
car_deko_15_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,4.11 Lakh,2018 Maruti Celerio,"13,040 kms",Petrol,Manual,ZXI MT BSIV,SecondOwner,Chandigarh
1,2.25 Lakh,2013 Nissan Micra,"88,687 kms",Diesel,Manual,Diesel XV,SecondOwner,Chandigarh
2,2 Lakh,2012 Ford Figo,"1,05,000 kms",Diesel,Manual,Diesel LXI,SecondOwner,Chandigarh
3,13.5 Lakh,2016 Toyota Innova Crysta,"1,10,000 kms",Diesel,Manual,2.4 G MT BSIV,SecondOwner,Chandigarh
4,5.35 Lakh,2011 Toyota Innova,"1,74,000 kms",Diesel,Manual,2.5 V Diesel 7-seater,SecondOwner,Chandigarh

In [144]:
#Let's scrap data for third owner cars

In [145]:
#extracting data for the cars where owners is "third owner" from Chandigarh city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[4]").click()

In [146]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [147]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [148]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 13
Price 13
Transmission 13
Fuel 13
Variant 13
Kilometers_driven 13

In [149]:
#creating data frame for the collected data.
car_deko_15_b=pd.DataFrame({})
car_deko_15_b['Price']=Price
car_deko_15_b['Brand']=car_name
car_deko_15_b['Kilometers_driven']=Kilometers_driven
car_deko_15_b['Fuel']=Fuel
car_deko_15_b['Transmission']=Transmission
car_deko_15_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Chandigarh'.)
car_deko_15_b['No_owners']="Thirdowner"
car_deko_15_b['Location']="Chandigarh"

In [150]:
car_deko_15_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,3.1 Lakh,2014 Maruti Celerio,"70,000 kms",Petrol,Automatic,VXI AT,Thirdowner,Chandigarh
1,1 Lakh,2003 Honda City,"1,20,000 kms",Petrol,Manual,1.3 DX,Thirdowner,Chandigarh
2,17.25 Lakh,2011 Audi Q7,"90,000 kms",Diesel,Automatic,4.2 TDI quattro,Thirdowner,Chandigarh
3,2.5 Lakh,2013 Fiat Linea,"92,000 kms",Diesel,Manual,Emotion (Diesel),Thirdowner,Chandigarh
4,1.05 Lakh,2009 Fiat Linea,"1,60,000 kms",Diesel,Manual,Emotion (Diesel),Thirdowner,Chandigarh

In [151]:
#Let's concatenat the chandigarh cars data
car_dekho_Chandigarh=pd.concat([car_deko_15,car_deko_15_a,car_deko_15_b])

In [152]:
car_dekho_Chandigarh.shape

(158, 8)

In [153]:
driver.close()

# Indore

In [154]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [155]:
driver.get("https://www.cardekho.com/") #getting the website

In [156]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [157]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [158]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Indore")

In [159]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [160]:
#extracting data for the cars where owners is "first owner" from indore city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[1]").click()

In [161]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [162]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [163]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [164]:
#creating data frame for the collected data.
car_deko_16=pd.DataFrame({})
car_deko_16['Price']=Price
car_deko_16['Brand']=car_name
car_deko_16['Kilometers_driven']=Kilometers_driven
car_deko_16['Fuel']=Fuel
car_deko_16['Transmission']=Transmission
car_deko_16['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Indore'.)
car_deko_16['No_owners']="FirstOnwer"
car_deko_16['Location']="Indore"

In [165]:
car_deko_16.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,23 Lakh,2010 BMW 7 Series,"46,000 kms",Diesel,Automatic,730Ld Sedan,FirstOnwer,Indore
1,4.65 Lakh,2014 Maruti Celerio,"50,096 kms",Petrol,Manual,VXI,FirstOnwer,Indore
2,25 Lakh,2015 Mercedes-Benz New C-Class,"70,000 kms",Diesel,Manual,200 CDI Classic,FirstOnwer,Indore
3,24 Lakh,2017 Skoda Superb,"59,000 kms",Diesel,Automatic,LK 2.0 TDI AT,FirstOnwer,Indore
4,9.25 Lakh,2019 Maruti Ciaz,"11,000 kms",Diesel,Manual,Delta 1.5,FirstOnwer,Indore

In [166]:
#Let's scrap second owner cars data

In [167]:
#extracting data for the cars where owners is "second owner" from indore city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [168]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [169]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [170]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 77
Price 77
Transmission 77
Fuel 77
Variant 77
Kilometers_driven 77

In [171]:
#creating data frame for the collected data.
car_deko_16_a=pd.DataFrame({})
car_deko_16_a['Price']=Price
car_deko_16_a['Brand']=car_name
car_deko_16_a['Kilometers_driven']=Kilometers_driven
car_deko_16_a['Fuel']=Fuel
car_deko_16_a['Transmission']=Transmission
car_deko_16_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Indore'.)
car_deko_16_a['No_owners']="SecondOwner"
car_deko_16_a['Location']="Indore"

In [172]:
car_deko_16_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,17.5 Lakh,2012 BMW 5 Series,"90,000 kms",Diesel,Automatic,520d Sedan,SecondOwner,Indore
1,16 Lakh,2012 BMW 5 Series,"90,000 kms",Diesel,Automatic,520d Sedan,SecondOwner,Indore
2,16.5 Lakh,2017 Toyota Innova Crysta,"55,000 kms",Diesel,Automatic,2.8 ZX AT BSIV,SecondOwner,Indore
3,8.85 Lakh,2016 Hyundai Creta,"86,000 kms",Diesel,Manual,1.6 CRDi SX,SecondOwner,Indore
4,4.8 Lakh,2011 Tata Aria,"47,078 kms",Diesel,Manual,Pure 4x2,SecondOwner,Indore

In [173]:
#Let's scrap third owners cars data

In [174]:
#extracting data for the cars where owners is "third owner" from indore city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [178]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [179]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [180]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 33
Price 33
Transmission 33
Fuel 33
Variant 33
Kilometers_driven 33

In [181]:
#creating data frame for the collected data.
car_deko_16_b=pd.DataFrame({})
car_deko_16_b['Price']=Price
car_deko_16_b['Brand']=car_name
car_deko_16_b['Kilometers_driven']=Kilometers_driven
car_deko_16_b['Fuel']=Fuel
car_deko_16_b['Transmission']=Transmission
car_deko_16_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Indore'.)
car_deko_16_b['No_owners']="Thirdowner"
car_deko_16_b['Location']="Indore"

In [182]:
car_deko_16_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,3.65 Lakh,2012 Renault Fluence,"99,447 kms",Diesel,Manual,1.5,Thirdowner,Indore
1,1.6 Lakh,2012 Tata Indigo,"1,70,000 kms",Diesel,Manual,LS,Thirdowner,Indore
2,2.6 Lakh,2015 Ford Figo,"70,000 kms",Diesel,Manual,Diesel EXI,Thirdowner,Indore
3,7.8 Lakh,2014 Mahindra XUV500,"70,000 kms",Diesel,Manual,W8 FWD,Thirdowner,Indore
4,"60,000",1997 Maruti Zen,"87,000 kms",Petrol,Manual,LX,Thirdowner,Indore

In [183]:
#Let's concatenate all Indore cars scrapped data
car_dekho_Indore=pd.concat([car_deko_16,car_deko_16_a,car_deko_16_b])

In [184]:
car_dekho_Indore.shape

(310, 8)

In [185]:
driver.close()

# Pondicherry

In [186]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [187]:
driver.get("https://www.cardekho.com/") #getting the website

In [188]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [189]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [190]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Pondicherry")

In [191]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [192]:
#extracting data for the cars where owners is "first owner" from pondicherry city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[1]").click()

In [193]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [194]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [195]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 21
Price 21
Transmission 21
Fuel 21
Variant 21
Kilometers_driven 21

In [196]:
#creating data frame for the collected data.
car_deko_17=pd.DataFrame({})
car_deko_17['Price']=Price
car_deko_17['Brand']=car_name
car_deko_17['Kilometers_driven']=Kilometers_driven
car_deko_17['Fuel']=Fuel
car_deko_17['Transmission']=Transmission
car_deko_17['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the first owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Pondicherry'.)
car_deko_17['No_owners']="FirstOwner"
car_deko_17['Location']="Pondicherry"

In [197]:
car_deko_17.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,5.25 Lakh,2015 Volkswagen Polo,"89,513 kms",Diesel,Manual,1.5 TDI Highline,FirstOwner,Pondicherry
1,5 Lakh,2016 Tata Tiago,"20,000 kms",Petrol,Manual,1.2 Revotron XZ,FirstOwner,Pondicherry
2,5.2 Lakh,2015 Skoda Rapid,"1,77,000 kms",Diesel,Automatic,1.5 TDI AT Elegance Plus Black Package,FirstOwner,Pondicherry
3,3.75 Lakh,2014 Maruti Wagon R Stingray,"52,139 kms",Petrol,Manual,VXI,FirstOwner,Pondicherry
4,6.5 Lakh,2020 Honda Jazz,"5,373 kms",Petrol,Automatic,VX CVT,FirstOwner,Pondicherry

In [198]:
#Let's scrap data for second owner cars

In [199]:
#extracting data for the cars where owners is "second owner" from Pondicherry city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [200]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [201]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [202]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 15
Price 15
Transmission 15
Fuel 15
Variant 15
Kilometers_driven 15

In [203]:
#creating data frame for the collected data.
car_deko_17_a=pd.DataFrame({})
car_deko_17_a['Price']=Price
car_deko_17_a['Brand']=car_name
car_deko_17_a['Kilometers_driven']=Kilometers_driven
car_deko_17_a['Fuel']=Fuel
car_deko_17_a['Transmission']=Transmission
car_deko_17_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('pondicherry'.)
car_deko_17_a['No_owners']="SecondOwner"
car_deko_17_a['Location']="Pondicherry"

In [204]:
car_deko_17_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,1.4 Lakh,2006 Maruti Zen,"70,000 kms",Petrol,Manual,2 Door,SecondOwner,Pondicherry
1,12 Lakh,2010 Audi A6,"1,10,000 kms",Diesel,Automatic,3.0 TDI quattro,SecondOwner,Pondicherry
2,"60,000",2002 Tata Indica,"60,000 kms",Diesel,Manual,DL,SecondOwner,Pondicherry
3,"45,000",2000 Maruti 800,"80,000 kms",Petrol,Manual,AC,SecondOwner,Pondicherry
4,4 Lakh,2010 Mahindra Xylo,"40,000 kms",Diesel,Manual,E8 BS4,SecondOwner,Pondicherry

In [205]:
#Let's scrap third owner cars data

In [206]:
#extracting data for the cars where owners is "third owner" from Pondicherry city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [207]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [208]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [209]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 4
Price 4
Transmission 4
Fuel 4
Variant 4
Kilometers_driven 4

In [210]:
#creating data frame for the collected data.
car_deko_17_b=pd.DataFrame({})
car_deko_17_b['Price']=Price
car_deko_17_b['Brand']=car_name
car_deko_17_b['Kilometers_driven']=Kilometers_driven
car_deko_17_b['Fuel']=Fuel
car_deko_17_b['Transmission']=Transmission
car_deko_17_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('pondicherry'.)
car_deko_17_b['No_owners']="Thirdowner"
car_deko_17_b['Location']="Pondicherry"

In [211]:
car_deko_17_b.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,4 Lakh,2010 Chevrolet Tavera,"1,10,000 kms",Diesel,Manual,Neo 3 LS 10 Seats BSIII,Thirdowner,Pondicherry
1,7.41 Lakh,2016 Hyundai Creta,"70,000 kms",Petrol,Manual,1.6 VTVT SX Plus,Thirdowner,Pondicherry
2,2.5 Lakh,2010 Ford Fiesta,"1,10,000 kms",Diesel,Manual,1.4 ZXi TDCi ABS,Thirdowner,Pondicherry
3,"90,000",2004 Honda City,"120,000 kms",Petrol,Manual,1.5 GXI,Thirdowner,Pondicherry

In [212]:
#Let's concatenate all pondicherry cars scrapped data

In [214]:
car_dekho_Pondicherry=pd.concat([car_deko_17,car_deko_17_a,car_deko_17_b])

In [215]:
car_dekho_Pondicherry.shape

(40, 8)

In [216]:
driver.close()

# Jaipur

In [217]:
driver=webdriver.Firefox("C:\geckodriver-v0.29.1-win64")

In [218]:
driver.get("https://www.cardekho.com/") #getting the website

In [219]:
#Selecting Used Cars option
k=driver.find_element_by_xpath("//ul[@class='gsc-ta-clickWrap ']/li[2]")
k.click()

In [220]:
#Selecting serach option
driver.find_element_by_xpath("(//div[@class='modelname ']/div/ul/li[3]/button)[2]").click()

In [221]:
#Entering city name
city=driver.find_element_by_id("autocomplete")
city.send_keys("Jaipur")

In [222]:
#selecting city from drop down
driver.find_element_by_xpath("//div[@class='pac-container pac-logo']/div[1]").click()

In [223]:
#extracting data for the cars where owners is "first owner" from Jaipur city.
#selecting the "first onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[2]").click()

In [224]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [225]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [226]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 200
Price 200
Transmission 200
Fuel 200
Variant 200
Kilometers_driven 200

In [227]:
#creating data frame for the collected data.
car_deko_18=pd.DataFrame({})
car_deko_18['Price']=Price
car_deko_18['Brand']=car_name
car_deko_18['Kilometers_driven']=Kilometers_driven
car_deko_18['Fuel']=Fuel
car_deko_18['Transmission']=Transmission
car_deko_18['Variant']=Variant
#we know that the data is from first owner cars. 
#So we will add the first owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Jaipur'.)
car_deko_18['No_owners']="FirstOwner"
car_deko_18['Location']="Jaipur"

In [228]:
car_deko_18.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,5.07 Lakh,2018 Maruti Ignis,"14,302 kms",Petrol,Manual,1.2 Delta BSIV,FirstOwner,Jaipur
1,3.51 Lakh,2019 Maruti S-Presso,"1,577 kms",Petrol,Manual,STD,FirstOwner,Jaipur
2,9.77 Lakh,2019 Maruti Vitara Brezza,"36,521 kms",Diesel,Manual,ZDi Plus,FirstOwner,Jaipur
3,3.91 Lakh,2013 Toyota Etios Liva,"1,03,561 kms",Diesel,Manual,GD SP,FirstOwner,Jaipur
4,5.68 Lakh,2016 Maruti Baleno,"46,024 kms",Petrol,Manual,1.2 Delta,FirstOwner,Jaipur

In [229]:
#Let's scrap second owner cars data

In [230]:
#extracting data for the cars where owners is "second owner" from Jaipur city.
#selecting the "second onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[3]").click()

In [231]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [232]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [233]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 189
Price 189
Transmission 189
Fuel 189
Variant 189
Kilometers_driven 189

In [234]:
#creating data frame for the collected data.
car_deko_18_a=pd.DataFrame({})
car_deko_18_a['Price']=Price
car_deko_18_a['Brand']=car_name
car_deko_18_a['Kilometers_driven']=Kilometers_driven
car_deko_18_a['Fuel']=Fuel
car_deko_18_a['Transmission']=Transmission
car_deko_18_a['Variant']=Variant
#we know that the data is from second owner cars. 
#So we will add the second owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Jaipur'.)
car_deko_18_a['No_owners']="SecondOwner"
car_deko_18_a['Location']="Jaipur"

In [235]:
car_deko_18_a.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,10.26 Lakh,2019 Mahindra XUV300,"41,395 kms",Diesel,Manual,W8 Option Diesel BSIV,SecondOwner,Jaipur
1,4.21 Lakh,2016 Hyundai Grand i10,"75,923 kms",Diesel,Manual,CRDi Sportz,SecondOwner,Jaipur
2,4.57 Lakh,2016 Hyundai Grand i10,"26,215 kms",Petrol,Manual,Sportz,SecondOwner,Jaipur
3,4.44 Lakh,2016 Hyundai Grand i10,"55,010 kms",Petrol,Manual,Sportz,SecondOwner,Jaipur
4,3.73 Lakh,2013 Hyundai Grand i10,"74,927 kms",Diesel,Manual,1.2 CRDi Sportz,SecondOwner,Jaipur

In [236]:
#Let's scrap third owner cars data

In [237]:
#extracting data for the cars where owners is "third owner" from jaipur city.
#selecting the "third onwer" option from filters.
driver.find_element_by_xpath("//ul[@class='checkBoxWrap sellerTypes ownerTypes']/li[4]").click()

In [238]:
#creating empty list for data to be collected.
Price=[]
Car_name=[]
Kilometers_driven=[]
Fuel=[]
Transmission=[]
Variant=[]

In [239]:
#Collectig data .


car_name=[] #collecting car name
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")[0:200]:
    car_name.append(i.text)
time.sleep(4)


Variant=[] #collecting car variant data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[1]")[0:200]:
    Variant.append(i.text)
time.sleep(4)


Kilometers_driven=[] #collecting car kilometers dreiven 
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[1]")[0:200]:
    Kilometers_driven.append(i.text)
time.sleep(4)

Fuel=[] #which fuel is used for th car
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[2]")[0:200]:
    Fuel.append(i.text)
time.sleep(4)

Transmission=[] #collecting car transmission data
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/div[2]/span[3]")[0:200]:
    Transmission.append(i.text)
time.sleep(4)

Price=[] #collecting car price
for i in driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")[0:200]:
    Price.append(i.text)
time.sleep(4)

In [240]:
print("Car_name",len(car_name))
print("Price",len(Price))
print("Transmission",len(Transmission))
print("Fuel",len(Fuel))
print("Variant",len(Variant))
print("Kilometers_driven",len(Kilometers_driven))

Car_name 56
Price 56
Transmission 56
Fuel 56
Variant 56
Kilometers_driven 56

In [241]:
#creating data frame for the collected data.
car_deko_18_b=pd.DataFrame({})
car_deko_18_b['Price']=Price
car_deko_18_b['Brand']=car_name
car_deko_18_b['Kilometers_driven']=Kilometers_driven
car_deko_18_b['Fuel']=Fuel
car_deko_18_b['Transmission']=Transmission
car_deko_18_b['Variant']=Variant
#we know that the data is from third owner cars. 
#So we will add the third owner value for all the rows in data frama by creating a seperate column for owners. 
#Same we will do for location('Jaipur'.)
car_deko_18_b['No_owners']="Thirdowner"
car_deko_18_b['Location']="Jaipur"

In [242]:
#Let's concatenate all Jaipur used cars data
car_dekho_Jaipur=pd.concat([car_deko_18,car_deko_18_a,car_deko_18_b])

In [243]:
car_dekho_Jaipur.shape

(445, 8)

Let's concatenate all the scrapped data till now and save it as CSV file

In [244]:
df_car_dekho_2=pd.concat([car_dekho_Jaipur,car_dekho_Pondicherry,car_dekho_Indore,car_dekho_Chandigarh,car_dekho_Noida,car_dekho_Lucknow,car_dekho_Ahmedabad,car_dekho_Shimla])

In [245]:
df_car_dekho_2.shape

(1984, 8)

In [246]:
df_car_dekho_2.to_csv("car_dekho_scrapped_data_second.csv")

# NOw we have 2 saved files from car dekho website. We will concatenate both the saved files and we will check how data is and did we got the data we needed.

In [1]:
import pandas as pd
df1=pd.read_csv("car_dekho_scrapped_data_one.csv")
df2=pd.read_csv("car_dekho_scrapped_data_second.csv")
df=pd.concat([df1,df2])

In [2]:
df.shape

(5161, 9)

In [3]:
#we got 5161 cars data

In [4]:
df.head()

,Unnamed: 0,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
0,0,3.4 Lakh,2015 Nissan Sunny,"39,000 kms",Petrol,Manual,XL,Firstowner,Kolkata
1,1,3.25 Lakh,2012 Hyundai Verna,"42,000 kms",Petrol,Manual,1.6 SX VTVT (O),Firstowner,Kolkata
2,2,6 Lakh,2016 Maruti SX4 S Cross,"55,000 kms",Diesel,Manual,DDiS 200 Zeta,Firstowner,Kolkata
3,3,2.25 Lakh,2010 Maruti Ritz,"45,000 kms",Petrol,Manual,VXI,Firstowner,Kolkata
4,4,2 Lakh,2011 Toyota Etios Liva,"48,200 kms",Diesel,Manual,GD SP,Firstowner,Kolkata

In [5]:
df.tail()

,Unnamed: 0,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location
1979,5,9.5 Lakh,2020 Hyundai Venue,"10,000 kms",Petrol,Manual,SX Opt Turbo BSIV,SecondOwner,Shimla
1980,6,3 Lakh,2011 Maruti Swift Dzire,"50,000 kms",Petrol,Manual,VXi,SecondOwner,Shimla
1981,7,1.3 Lakh,2013 Maruti 800,"30,000 kms",Petrol,Manual,Std BSIII,SecondOwner,Shimla
1982,0,1.15 Lakh,2004 Maruti Alto,"80,000 kms",Petrol,Manual,LX,Thirdowner,Shimla
1983,1,"60,000",2002 Maruti 800,"15,000 kms",Petrol,Manual,AC,Thirdowner,Shimla

The data should contain:
price
Brand
Year
Model
Kilometers
Fuel
Transmission
Variant
No of owners
Location

But the data fram contains column Unnamed:0(unnecessary column can be deleted) and In the Brand column you can see that column contains mixed data (year,brand and model).So we will use split method to seperate column, brand and model of the car.

In [6]:
new = df["Brand"].str.split(" ", n = 4, expand = True)

In [7]:
df["Year"]=new[0]     #seperating year
df["brand"]=new[1]    #seperating brand name

In [8]:
df["Model"]=new[2]      #seperating model

In [9]:
df["Brand"]=df["brand"]

In [10]:
#remove unwanted columns
df.drop(["Unnamed: 0","brand"],axis=1,inplace=True)

In [13]:
#If you see Price column it contains string("Lakh"), the string is currency in words. So we will convert Lakh into numbers.
#example "if it is 2Lakh then convert this to 200000"
#first we will remove commas in the price column and later we will convert.
df['Price']=df['Price'].str.replace(',','')

In [14]:
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'Lakh' in x:
        if len(x) > 1:
            return float(x.replace('Lakh', '')) * 100000
        return 100000

In [15]:
df['Price'] = df['Price'].apply(value_to_float)

In [16]:
df.head()

,Price,Brand,Kilometers_driven,Fuel,Transmission,Variant,No_owners,Location,Year,Model
0,340000.0,Nissan,"39,000 kms",Petrol,Manual,XL,Firstowner,Kolkata,2015,Sunny
1,325000.0,Hyundai,"42,000 kms",Petrol,Manual,1.6 SX VTVT (O),Firstowner,Kolkata,2012,Verna
2,600000.0,Maruti,"55,000 kms",Diesel,Manual,DDiS 200 Zeta,Firstowner,Kolkata,2016,SX4
3,225000.0,Maruti,"45,000 kms",Petrol,Manual,VXI,Firstowner,Kolkata,2010,Ritz
4,200000.0,Toyota,"48,200 kms",Diesel,Manual,GD SP,Firstowner,Kolkata,2011,Etios

In [17]:
df.to_csv("Car_dekho_data.csv")  #saving the data for future use